# __Auto-MLì„ ì‚¬ìš©í•˜ì—¬ ë¶„ë¥˜ ëª¨ë¸ ë§Œë“¤ê¸°__

**ë¶„ë¥˜ ì‘ì—… ì´í•´í•˜ê¸°** 
--- 
ğŸ‘‰ ë¶„ë¥˜ ì‘ì—…ì€ ëª©í‘œê°’(Target)ì´ ì†í•œ ë²”ì£¼(Category ë˜ëŠ” Class)ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ë¨¸ì‹ ëŸ¬ë‹(ê¸°ê³„í•™ìŠµ/Machine Learning)ì˜ í•œ í˜•íƒœì…ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, ë‚¨ì„± ë˜ëŠ” ì—¬ì„±ì„ ë¶„ë¥˜í•˜ëŠ” ì´ì§„ ë¶„ë¥˜ì™€ ë™ë¬¼ì˜ ì¢…(ê°œ, ê³ ì–‘ì´, í† ë¼ ë“±)ì„ ì˜ˆì¸¡í•˜ëŠ” ë‹¤ì¤‘ ë¶„ë¥˜ ëª¨ë‘ ë¶„ë¥˜ ì‘ì—…ì— í¬í•¨ë©ë‹ˆë‹¤.

**ë³¸ íŠœí† ë¦¬ì–¼ì—ì„œëŠ”** 
--- 
ğŸ‘‰ ëŒ€í‘œì ì¸ ë¨¸ì‹ ëŸ¬ë‹ ê²½ì§„ëŒ€íšŒ í”Œë«í¼ì¸ ìºê¸€ì˜ ì…ë¬¸ìë¥¼ ìœ„í•œ Titanic: Machine Learning from Disaster ë°ì´í„° ì„¸íŠ¸ë¥¼ ì‚¬ìš©í•˜ì—¬ ìƒì¡´ì ì˜ˆì¸¡ ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ì´ ëŒ€íšŒì˜ ëª©í‘œëŠ” ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤. (ì°¸ê³ ë¡œ, í•´ë‹¹ ëŒ€íšŒì˜ ë°ì´í„°ëŠ” 1912ë…„ 4ì›” 15ì¼ ì‹¤ì œ íƒ€ì´íƒ€ë‹‰ ì‚¬ê±´ ë•Œ, íƒ‘ìŠ¹í–ˆì—ˆë˜ ìŠ¹ê°ë“¤ ëª…ë‹¨ì…ë‹ˆë‹¤.)

## __0. ë°ì´í„° ì¤€ë¹„__

ThanoSQLì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” [ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤](https://docs.thanosql.ai/quick_start/how_to_use_ThanoSQL/#5-thanosql)
ì—ì„œ ì–¸ê¸‰ëœ ê²ƒì²˜ëŸ¼ API í† í°ì„ ìƒì„±í•˜ê³  ì•„ë˜ì˜ ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN={ë°œê¸‰ë°›ì€ ê°œì¸ í† í°}

In [2]:
%%thanosql
COPY titanic_train FROM "tutorial_data/titanic_data/titanic_train.csv"

Success

In [3]:
%%thanosql
COPY titanic_test FROM "tutorial_data/titanic_data/titanic_test.csv"

Success

## __1. ë°ì´í„° ì„¸íŠ¸ í™•ì¸__

ìƒì¡´ì ì˜ˆì¸¡ ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ ìš°ë¦¬ëŠ” ThanoSQL DBì— ì €ì¥ë˜ì–´ ìˆëŠ” titanic_train í…Œì´ë¸”ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ë¬¸ì„ ì‹¤í–‰í•˜ë©´ì„œ í…Œì´ë¸” ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤.

In [4]:
%%thanosql
SELECT * 
FROM titanic_test 
LIMIT 5

,passengerid,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

**ë°ì´í„° ì´í•´í•˜ê¸°**   
-  passengerid  : íƒ‘ìŠ¹ìŠ¹ê° ì•„ì´ë””  
-  survived  : íƒ‘ìŠ¹ìŠ¹ê°  
-  pclass  : íƒ‘ìŠ¹ìŠ¹ê° í‹°ì¼“ ë“±ê¸‰  
-  name  : íƒ‘ìŠ¹ìŠ¹ê° ì´ë¦„  
-  sex  : íƒ‘ìŠ¹ìŠ¹ê° ì„±ë³„  
-  age  : íƒ‘ìŠ¹ìŠ¹ê° ë‚˜ì´  
-  sibsp  : íƒ‘ìŠ¹í•œ í˜•ì œ ìë§¤ ë˜ëŠ” ë°°ìš°ì ìˆ˜   
-  parch  : íƒ‘ìŠ¹í•œ ë¶€ëª¨ ë˜ëŠ” ìë…€ì˜ ìˆ˜  
-  ticket  : í‹°ì¼“ ë²ˆí˜¸  
-  fare  : ìš”ê¸ˆ  
-  cabin  : ì„ ì‹¤  
-  embarked  : ìŠ¹ì„ ì§€ ë˜ëŠ” í•­êµ¬   

ì´ë²ˆ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” ì¶”ê°€ì ì¸ ì¿¼ë¦¬ë¬¸ì„ ì´ìš©í•œ ë°ì´í„° ì „ì²˜ë¦¬ê°€ í•„ìš”í•œ  name ,  ticket ,  cabin ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  ëª¨ë¸ í•™ìŠµì„ ì§„í–‰í•˜ê² ìŠµë‹ˆë‹¤.

## __2. ë¶„ë¥˜ ëª¨ë¸ ìƒì„±__

ì´ì „ ë‹¨ê³„ì—ì„œ í™•ì¸í•œ titanic_train ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ìƒì¡´ì ì˜ˆì¸¡ ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰ì‹œì¼œ titanic_classification ì´ë¦„ì˜ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë´…ë‹ˆë‹¤.

In [7]:
%%thanosql
BUILD MODEL tutorial_automl_classification 
USING AutomlClassifier 
OPTIONS (
    target='survived', 
    impute_type='iterative',  
    features_to_drop=["name", 'ticket', 'passengerid', 'cabin'],
    time_left_for_this_task = 300
    ) 
AS 
SELECT * 
FROM titanic_train

Success

__ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´__ 

- "__BUILD MODEL__" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ <mark style="background-color:#E9D7FD ">titanic_automl_classification</mark>ì´ë¼ëŠ” ëª¨ë¸ì„ ë§Œë“¤ê³  í•™ìŠµì‹œí‚µë‹ˆë‹¤.  
- "__OPTIONS__"ì˜ "target"ì—ëŠ” ë¶„ë¥˜ ì˜ˆì¸¡ ëª¨ë¸ì— ëª©í‘œê°’ì´ ë˜ëŠ” ì»¬ëŸ¼(Column)ì˜ ì´ë¦„ì„ ì ì–´ì¤ë‹ˆë‹¤. "impute_type"ì˜ ê²½ìš°ì—ëŠ” ë°ì´í„° ì„¸íŠ¸ì˜ ë¹ˆ ê°’ì— ëŒ€í•œ ì²˜ë¦¬ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤. "features_to_drop"ì€ í•™ìŠµì— ì´ìš©í•˜ì§€ ì•Šì„ ë°ì´í„°ë¥¼ ì ì–´ì£¼ë©´ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ ìƒì„±ì„ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

## __3. ìƒì„±ëœ ëª¨ë¸ í‰ê°€__

ì•„ë˜ì˜ ì¿¼ë¦¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  ì˜ˆì¸¡ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í‰ê°€í•©ë‹ˆë‹¤.

In [8]:
%%thanosql 
EVALUATE USING tutorial_automl_classification 
OPTIONS (
    target = 'survived'
    )
AS 
SELECT * 
FROM titanic_train

     metrics     value
0   accuracy  0.897868
1     ROCAUC  0.895374
2     Recall  0.886154
3  Precision  0.842105
4   f1-score  0.863568
5      Kappa  0.782039
6        MCC  0.782688

__ ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´__
- "__EVALUATE USING__" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ êµ¬ì¶•í•œ titanic_automl_classificationì´ë¼ëŠ” ëª¨ë¸ì„ í‰ê°€í•©ë‹ˆë‹¤. 
- "__OPTIONS__"ì˜ "target"ì—ëŠ” ë¶„ë¥˜ ì˜ˆì¸¡ ëª¨ë¸ì— ëª©í‘œê°’ì´ ë˜ëŠ” ì»¬ëŸ¼ì˜ ì´ë¦„(survived)ì„ ì ì–´ì¤ë‹ˆë‹¤.

## __4. ìƒì„±ëœ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ ìƒì¡´ì ì˜ˆì¸¡__

ì´ì „ ë‹¨ê³„ì—ì„œ ìƒì„±í•œ ìƒì¡´ì ì˜ˆì¸¡ ëª¨ë¸ì„ ì‚¬ìš©í•´ íƒ‘ìŠ¹ ìŠ¹ê° ì •ë³´ì— ë”°ë¥¸ ìƒì¡´ ì—¬ë¶€ë¥¼ ì˜ˆì¸¡í•´ ë´…ë‹ˆë‹¤. í…ŒìŠ¤íŠ¸ìš© ë°ì´í„° ì„¸íŠ¸(í•™ìŠµì— ì´ìš©ë˜ì§€ ì•Šì€ ë°ì´í„° í…Œì´ë¸”, titanic_test)ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [9]:
%%thanosql 
PREDICT USING tutorial_automl_classification
AS 
SELECT * 
FROM titanic_test

,passengerid,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,predicted
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,None,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,None,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,None,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,None,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,None,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,None,S,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,None,S,0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,None,C,0

__ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´__ 

- "PREDICT USING" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  tutorial_automl_classification ëª¨ë¸ì„ ì˜ˆì¸¡ì— ì‚¬ìš©í•©ë‹ˆë‹¤. "PREDICT"ì˜ ê²½ìš° ìƒì„±ëœ ëª¨ë¸ì˜ ì ˆì°¨ë¥¼ ë”°ë¥´ê¸° ë•Œë¬¸ì— íŠ¹ë³„í•œ ì²˜ë¦¬ê°€ í•„ìš”ì—†ìŠµë‹ˆë‹¤.