# __Hello ThanoSQL!__

ThanoSQL은 정형과 비정형 데이터 모두 SQL 만으로 쿼리(Query, 질의)와 AI(인공지능) 모델링이 가능한 통합 플랫폼입니다. RDB(Relational DataBase, 관계형 데이터베이스), AI 그리고 Big Data Platform의 기능을 하나의 플랫폼에서 적용할 수 있으며 AI 기반의 디지털 전환 시 발생하는 비효율성을 획기적으로 줄일 수 있습니다.

- ThanoSQL은 정형과 비정형 데이터 모두 SQL만으로 쿼리가 가능하며, 빠른 AI 모델링이 가능합니다.
- 람다 아키텍처 기반의 비정형 빅데이터 플랫폼을 ThanoSQL 하나로 대체하여 개발, 배포 그리고 운영을 하나의 프로세스로 가능하게 합니다.
- 빅데이터 처리 및 분산 병렬처리 기술을 기반으로 하여 기존 대비 2배 이상 빠르게 데이터 처리가 가능합니다.

## __ThanoSQL 워크스페이스 사용__
ThanoSQL의 워크스페이스는 [Jupyter Lab](https://github.com/jupyterlab/jupyterlab)을 기반으로 하는 웹 기반 컴퓨팅 환경입니다.

이 환경에서 **ThanoSQL**을 본격적으로 사용하기 위해서는 먼저 `thanosql` cell magic을 불러와야 합니다.

(상단의 실행 버튼을 누르거나, `Ctrl + Enter` 혹은 `Shift + Enter` 단축키로도 실행할 수 있습니다.)

In [1]:
%load_ext thanosql

다음으로, 각 사용자의 워크스페이스 API_TOKEN 설정을 위해 **워크스페이스 설정 페이지 - Developer - API Token - 복사 버튼**으로 얻은 API_TOKEN을 다음과 같이 설정합니다.

```
%thanosql API_TOKEN=<발급받은_API_TOKEN>

예시)
%thanosql API_TOKEN=eyJhbGciOiJIUzI1NiIsInR..
```

In [ ]:
%thanosql API_TOKEN=<발급받은_API_TOKEN>

**ThanoSQL**을 사용할 모든 준비가 끝났습니다.

## __튜토리얼 가져오기__
특정 튜토리얼을 가지고 오고 싶다면 아래의 문을 실행시키면 됩니다. 가져올 튜토리얼의 Github URL은 아래의 링크를 통해 확인할 수 있습니다.

[튜토리얼 Github URL 리스트](https://docs.thanosql.ai/1.5/ko/getting_started/paas/workspace/lab/#4)

In [ ]:
!wget [가져올 Tutorial의 Github URL]

## __데이터 세트 가져오기__
특정 데이터 세트를 가지고 오고 싶다면 아래의 문을 실행시키면 됩니다.

In [ ]:
%%thanosql
GET THANOSQL DATASET <가져올 데이터 세트 이름>
OPTIONS (overwrite=True)

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GET THANOSQL DATASET</strong>" 쿼리 구문을 사용하여 원하는 데이터 세트를 워크스페이스에 저장합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 <strong>GET THANOSQL DATASET</strong>에 사용할 옵션을 지정합니다.
        <ul>
            <li>"overwrite": 동일 이름의 데이터 세트가 존재하는 경우 덮어쓰기 가능 여부 설정. True일 경우 기존 데이터 세트는 새로운 데이터 세트로 변경됨 (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

아래 ThanoSQL문을 실행시키면 데이터 세트의 목록을 확인 할 수 있습니다.

In [3]:
%%thanosql
LIST THANOSQL DATASET

                  name data_type
0     librispeech_data     audio
1           mnist_data     image
2   product_image_data     image
3         titanic_data   tabular
4        unsplash_data     image
5    bike_sharing_data   tabular
6     cat_and_dog_data     image
7            diet_data     image
8    movie_review_data   tabular
9            nsmc_data   tabular
10    coco_person_data     image
11    kinetics700_data     video
12   korean_voice_data     audio

## __ThanoSQL Pre-built 모델 가져오기__
특정 Pre-built된 ThanoSQL 모델을 가지고 오고 싶다면 아래의 문을 실행시키면 됩니다.

In [ ]:
%%thanosql
GET THANOSQL MODEL <가져올 ThanoSQL Pre-built 모델 이름>
OPTIONS (overwrite=True)

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GET THANOSQL MODEL</strong>" 쿼리 구문을 사용하여 원하는 모델을 워크스페이스 및 데이터베이스에 저장합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 <strong>GET THANOSQL MODEL</strong>에 사용할 옵션을 지정합니다.
        <ul>
            <li>“model_name”: 저장할 모델의 이름 (str, optional)</li>
            <li>"overwrite": 동일 이름의 모델이 존재하는 경우 덮어쓰기 가능 여부 설정. True일 경우 모델은 새로운 모델로 변경됨 (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

아래 ThanoSQL문을 실행시키면 Pre-built된 ThanoSQL 모델 목록을 확인 할 수 있습니다.

In [4]:
%%thanosql
LIST THANOSQL MODEL

        name  class_name     last_updated_utc
0   sbert_en     SBERTEn  2022-11-03 00:00:00
1      xclip       XCLIP  2022-11-03 00:00:00
2  whisper_l     Whisper  2022-11-03 00:00:00
3  whisper_s     Whisper  2022-11-03 00:00:00
4     simclr      SimCLR  2022-11-03 00:00:00
5    electra   ElectraEn  2022-11-03 00:00:00
6       clip        CLIP  2022-11-03 00:00:00
7   wav2vec2  Wav2Vec2En  2022-11-03 00:00:00
8   sbert_ko     SBERTKo  2022-11-03 00:00:00
9       vilt        ViLT  2022-11-03 00:00:00