# __Hello ThanoSQL!__

ThanoSQL is an integrated platform that enables Query and AI modeling of both structured and unstructured data using only SQL. Relational DataBase (RDB), AI, and Big Data Platform capabilities can be utilized on a single ThanoSQL platform, dramatically reducing the inefficiencies of AI-based digital transformation.

- ThanoSQL can query both structured and unstructured data using only SQL, enabling fast AI modeling.
- Replacing a Lambda architecture-based unstructured big data platform with ThanoSQL enables development, deployment, and operation to be done in one process.
- Based on big data processing and distributed parallel processing technology, data processing is more than twice as faster than before.

## __Using ThanoSQL Workspace__
ThanoSQL's workspace is a web-based computing environment based on [Jupyter Lab](https://github.com/jupyterlab/jupyterlab).

In order to use `ThanoSQL` in this environment, the `thanosql` cell magic must be loaded first.

(You can press the run button at the top, or run it with either the `Ctrl + Enter` or `Shift + Enter` shortcut.)

In [1]:
%load_ext thanosql

Next, to set the workspace's API_TOKEN, press the `Get API_TOKEN` button at the top of the browser to copy the API Token then paste it into the cell as shown.

```
%thanosql API_TOKEN=<Issued_API_TOKEN>

Example)
%thanosql API_TOKEN=eyJhbGciOiJIUzI1NiIsInR..
```

In [ ]:
%thanosql API_TOKEN=<Issued_API_TOKEN>

All preparations to use `ThanoSQL` are complete.

## __Import Tutorial__
If you want to download a specific tutorial, just execute the statement below. You can check the Github URLs of the tutorials using the link below.

[Tutorial Github URL List](https://docs.thanosql.ai/en/getting_started/hello_ThanoSQL/#4-get-tutorial)

In [ ]:
!wget [Github URL of Tutorial to import]

## __Import Dataset__
If you want to download a specific dataset, just execute the statement below.

In [ ]:
%%thanosql
GET THANOSQL DATASET <Dataset Name>
OPTIONS (overwrite=True)

<div class="admonition note">
    <h4 class="admonition-title">Query Details</h4>
    <ul>
        <li>"<strong>GET THANOSQL DATASET</strong>" downloads the specified dataset to the workspace. </li>
        <li>"<strong>OPTIONS</strong>" specifies the option values to be used for the <strong>GET THANOSQL DATASET</strong> clause.
        <ul>
            <li>"overwrite" : determines whether to overwrite a dataset if it already exists. If set as True, the old dataset is replaced with the new dataset (True|False, DEFAULT : False) </li>
        </ul>
        </li>
    </ul>
</div>

To view a list of the available datasets, run the ThanoSQL statement below.

In [3]:
%%thanosql
LIST THANOSQL DATASET

                  name data_type
0     librispeech_data     audio
1           mnist_data     image
2   product_image_data     image
3         titanic_data   tabular
4        unsplash_data     image
5    bike_sharing_data   tabular
6     cat_and_dog_data     image
7            diet_data     image
8    movie_review_data   tabular
9            nsmc_data   tabular
10    coco_person_data     image
11    kinetics700_data     video
12   korean_voice_data     audio

## __Import Prebuilt ThanoSQL Model__
If you want to download a specific prebuilt ThanoSQL model, just execute the statement below.

In [ ]:
%%thanosql
GET THANOSQL MODEL <ThanoSQL Model Name>
OPTIONS (overwrite=True)
AS <User-defined Model Name>

<div class="admonition note">
    <h4 class="admonition-title">Query Details </h4>
    <ul>
        <li>"<strong>GET THANOSQL MODEL</strong>" downloads the specified model to the workspace. </li>
        <li>"<strong>OPTIONS</strong>" specifies the option values to be used for the <strong>GET THANOSQL MODEL</strong> clause.
        <ul>
            <li>"overwrite" : determines whether to overwrite a model if it already exists. If set as True, the old model is replaced with the new model (True|False, DEFAULT : False) </li>
        </ul>
        </li>
        <li>"<strong>AS</strong>" names the given model. If not specified, the model will be named as the default <code>THANOSQL MODEL</code> name.</li>
    </ul>
</div>

To view a list of prebuilt ThanoSQL models, run the ThanoSQL statement below.

In [4]:
%%thanosql
LIST THANOSQL MODEL

        name  class_name     last_updated_utc
0       clip        CLIP  2022-11-03 00:00:00
1  whisper_s     Whisper  2022-11-03 00:00:00
2  whisper_l     Whisper  2022-11-03 00:00:00
3    electra   ElectraEn  2022-11-03 00:00:00
4      xclip       XCLIP  2022-11-03 00:00:00
5        vqa         VQA  2022-11-03 00:00:00
6   wav2vec2  Wav2Vec2En  2022-11-03 00:00:00
7     simclr      SimCLR  2022-11-03 00:00:00