# __생성형 모델로 다양한 기능 수행하기__

- 튜토리얼 난이도: ★☆☆☆☆
- 읽는데 걸리는 시간: 7분
- 사용 언어: [SQL](https://ko.wikipedia.org/wiki/SQL) (100%)
- 실행 파일 위치: tutorial/thanosql_generate/generate_gpt.ipynb

## 튜토리얼 소개
 
<div class="admonition note">
    <h4 class="admonition-title">본 튜토리얼에서는</h4>
    <p>👉 이번 튜토리얼에서는 성형외과 VOC 데이터 세트를 사용합니다. 각 VOC는 고객과 상담사가 나눈 상담 내용을 담고 있으며 tx와 rx로 화자가 구분되어 있습니다.
</div>
    
ThanoSQL을 사용하여 VOC 데이터를 입력하고 다양한 생성형 기능들을 수행해 봅니다.

## __0. 데이터 세트 준비__

ThanoSQL의 쿼리 구문을 사용하기 위해서는 [ThanoSQL 워크스페이스](https://docs.thanosql.ai/ko/getting_started/paas/workspace/lab/)에서 언급된 것처럼 API 토큰을 생성하고 아래의 쿼리를 실행해야 합니다.

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN=<발급받은_API_TOKEN>

### __데이터 세트 준비__

In [2]:
%%thanosql
GET THANOSQL DATASET healthcare_data
OPTIONS (overwrite=True)

Success

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GET THANOSQL DATASET</strong>" 쿼리 구문을 사용하여 원하는 데이터 세트를 워크스페이스에 저장합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 <strong>GET THANOSQL DATASET</strong>에 사용할 옵션을 지정합니다.
        <ul>
            <li>"overwrite": 동일 이름의 데이터 세트가 존재하는 경우 덮어쓰기 가능 여부 설정. True일 경우 기존 데이터 세트는 새로운 데이터 세트로 변경됨 (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

In [3]:
%%thanosql
COPY healthcare_test
OPTIONS (if_exists='replace')
FROM 'thanosql-dataset/healthcare_data/healthcare_test.csv'

Success

## __1. 데이터 세트 확인__

In [5]:
%%thanosql
SELECT *
FROM healthcare_test
LIMIT 5

                                    image_path   filename  label
0   thanosql-dataset/mnist_data/train/6782.jpg   6782.jpg      5
1   thanosql-dataset/mnist_data/train/1810.jpg   1810.jpg      5
2  thanosql-dataset/mnist_data/train/33617.jpg  33617.jpg      5
3  thanosql-dataset/mnist_data/train/27802.jpg  27802.jpg      5
4  thanosql-dataset/mnist_data/train/50677.jpg  50677.jpg      5

<div class="admonition note">
    <h4 class="admonition-title">데이터 테이블 이해하기</h4>
    <p><strong>healthcare_test</strong> 테이블은 아래와 같은 정보를 담고 있습니다.</p>
    <ul>
        <li>cleaned_text: VOC 전사 텍스트</li>
    </ul>
</div>

## __2. FAQ 생성__

In [ ]:
%%thanosql
GENERATE USING GPT
OPTIONS (
    task = 'faq', 
    text_col='cleaned_text',
    result_col='faq_result'
    )
AS 
SELECT *
FROM healthcare_test

Success

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GENERATE</strong>" 쿼리 구문을 통해 생성형 모델로 특정 기능을 실행합니다.</li>
        <li>"<strong>USING</strong>" 쿼리 구문을 통해 생성형 모델로 <strong>GPT</strong>을 사용할 것을 명시합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 모델에 사용할 옵션을 지정합니다.
        <ul>
            <li>"task": 생성형 모델로 실행할 테스크명</li>
            <li>"text_col": FAQ 생성에 입력될 인풋 칼럼명</li>
            <li>"result_col": FAQ 결괏값을 저장할 칼럼명</li>
        </ul>
        </li>
    </ul>
</div>

## __3. 키워드 추출__

In [ ]:
%%thanosql
GENERATE USING GPT
OPTIONS (
    task = 'keywords', 
    text_col='cleaned_text',
    result_col='keywords_result'
    )
AS 
SELECT *
FROM healthcare_test

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GENERATE</strong>" 쿼리 구문을 통해 생성형 모델로 특정 기능을 실행합니다.</li>
        <li>"<strong>USING</strong>" 쿼리 구문을 통해 생성형 모델로 <strong>GPT</strong>을 사용할 것을 명시합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 모델에 사용할 옵션을 지정합니다.
        <ul>
            <li>"task": 생성형 모델로 실행할 테스크명</li>
            <li>"text_col": 키워드 추출에 입력될 인풋 칼럼명</li>
            <li>"result_col": 키워드 추출 결괏값을 저장할 칼럼명</li>
        </ul>
        </li>
    </ul>
</div>

## __4. 서비스 평가__

In [ ]:
%%thanosql
GENERATE USING GPT
OPTIONS (
    task = 'service_evaluation', 
    text_col='cleaned_text',
    result_col='service_evaluation_result'
    )
AS 
SELECT *
FROM healthcare_test

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GENERATE</strong>" 쿼리 구문을 통해 생성형 모델로 특정 기능을 실행합니다.</li>
        <li>"<strong>USING</strong>" 쿼리 구문을 통해 생성형 모델로 <strong>GPT</strong>을 사용할 것을 명시합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 모델에 사용할 옵션을 지정합니다.
        <ul>
            <li>"task": 생성형 모델로 실행할 테스크명</li>
            <li>"text_col": 서비스 평가에 입력될 인풋 칼럼명</li>
            <li>"result_col": 서비스 평가 결괏값을 저장할 칼럼명</li>
        </ul>
        </li>
    </ul>
</div>

## __5. 내용 요약__

In [ ]:
%%thanosql
GENERATE USING GPT
OPTIONS (
    task = 'summary', 
    text_col='cleaned_text',
    result_col='summary_result'
    )
AS 
SELECT *
FROM healthcare_test

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GENERATE</strong>" 쿼리 구문을 통해 생성형 모델로 특정 기능을 실행합니다.</li>
        <li>"<strong>USING</strong>" 쿼리 구문을 통해 생성형 모델로 <strong>GPT</strong>을 사용할 것을 명시합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 모델에 사용할 옵션을 지정합니다.
        <ul>
            <li>"task": 생성형 모델로 실행할 테스크명</li>
            <li>"text_col": 내용 요약에 입력될 인풋 칼럼명</li>
            <li>"result_col": 내용 요약 결괏값을 저장할 칼럼명</li>
        </ul>
        </li>
    </ul>
</div>

## __6. 감정 분석__

In [ ]:
%%thanosql
GENERATE USING GPT
OPTIONS (
    task = 'sentiment_analysis', 
    text_col='cleaned_text',
    result_col='sentiment_analysis_result'
    )
AS 
SELECT *
FROM healthcare_test

<div class="admonition note">
    <h4 class="admonition-title">쿼리 세부 정보</h4>
    <ul>
        <li>"<strong>GENERATE</strong>" 쿼리 구문을 통해 생성형 모델로 특정 기능을 실행합니다.</li>
        <li>"<strong>USING</strong>" 쿼리 구문을 통해 생성형 모델로 <strong>GPT</strong>을 사용할 것을 명시합니다.</li>
        <li>"<strong>OPTIONS</strong>" 쿼리 구문을 통해 모델에 사용할 옵션을 지정합니다.
        <ul>
            <li>"task": 생성형 모델로 실행할 테스크명</li>
            <li>"text_col": 감정 분석에 입력될 인풋 칼럼명</li>
            <li>"result_col": 감정 분석 결괏값을 저장할 칼럼명</li>
        </ul>
        </li>
    </ul>
</div>

## __7. 튜토리얼을 마치며__

<div class="admonition tip">
    <h4 class="admonition-title">나만의 서비스를 위한 모델 배포 관련 문의</h4>
    <p>ThanoSQL을 활용해 나만의 모델을 만들거나, 나의 서비스에 적용하는데 어려움이 있다면 언제든 아래로 문의주세요😊</p>
    <p>유사 이미지 검색 모델 구축 관련 문의: <a href="mailto:contact@smartmind.team">contact@smartmind.team</a></p>
</div>