# __AutoMLì„ ì‚¬ìš©í•˜ì—¬ ë¶„ë¥˜ ëª¨ë¸ ë§Œë“¤ê¸°__

- íŠœí† ë¦¬ì–¼ ë‚œì´ë„: â˜…â˜†â˜†â˜†â˜†
- ì½ëŠ”ë° ê±¸ë¦¬ëŠ” ì‹œê°„: 4 ë¶„
- ì‚¬ìš© ì–¸ì–´: [SQL](https://ko.wikipedia.org/wiki/SQL) (100%)
- ì‹¤í–‰ íŒŒì¼ ìœ„ì¹˜: tutorial/thanosql_ml/classification/automl_classification.ipynb
- ì°¸ê³  ë¬¸ì„œ: [(ìºê¸€) Titanic - Machine Learning from Disaster](https://www.kaggle.com/competitions/titanic/overview)

## íŠœí† ë¦¬ì–¼ ì†Œê°œ

<div class="admonition note">
    <h4 class="admonition-title">ë¶„ë¥˜ ì‘ì—… ì´í•´í•˜ê¸°</h4>
    <p>ë¶„ë¥˜ ì‘ì—…ì€ ëª©í‘¯ê°’(Target)ì´ ì†í•œ ë²”ì£¼(Category ë˜ëŠ” Class)ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” <a href="https://ko.wikipedia.org/wiki/%EA%B8%B0%EA%B3%84_%ED%95%99%EC%8A%B5">ë¨¸ì‹ ëŸ¬ë‹(ê¸°ê³„í•™ìŠµ/Machine Learning)</a>ì˜ í•œ í˜•íƒœì…ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, ë‚¨ì„± ë˜ëŠ” ì—¬ì„±ì„ ë¶„ë¥˜í•˜ëŠ” ì´ì§„ ë¶„ë¥˜ì™€ ë™ë¬¼ì˜ ì¢…(ê°œ, ê³ ì–‘ì´, í† ë¼ ë“±)ì„ ì˜ˆì¸¡í•˜ëŠ” ë‹¤ì¤‘ ë¶„ë¥˜ ëª¨ë‘ ë¶„ë¥˜ ì‘ì—…ì— í¬í•¨ë©ë‹ˆë‹¤.</p>
</div>

ê¸°ì—…ì˜ íŠ¹ì • ë§ˆì¼€íŒ… í”„ë¡œëª¨ì…˜ì— ëŒ€í•´ ì ì¬ê³ ê°ì´ ê¸ì •ì ì¸ ë°˜ì‘ì„ ë³´ì¼ ê²ƒì¸ì§€ ì•„ë‹Œì§€ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ì„œëŠ” ê³ ê°ì˜ [CRM(Customer Relationship Management)](https://ko.wikipedia.org/wiki/%EA%B3%A0%EA%B0%9D_%EA%B4%80%EA%B3%84_%EA%B4%80%EB%A6%AC) ë°ì´í„°(ì¸êµ¬ í†µê³„í•™ ì •ë³´, ê³ ê°ì˜ í–‰ë™/ê²€ìƒ‰ ë°ì´í„° ë“±)ë¥¼ ì´ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ ê²½ìš° CRM ë°ì´í„°ì—ì„œ í‘œí˜„ë˜ëŠ” <a href="https://ko.wikipedia.org/wiki/%ED%8A%B9%EC%A7%95_(%EA%B8%B0%EA%B3%84_%ED%95%99%EC%8A%B5)">íŠ¹ì„±(Feature)</a>ì´ ì…ë ¥ ë°ì´í„°ë¡œ ì‚¬ìš©ë˜ë©°, ì˜ˆì¸¡í•˜ê³ ì í•˜ëŠ” ê°’ì¸ ëª©í‘¯ê°’ì€ í”„ë¡œëª¨ì…˜ì— ëŒ€í•œ ëŒ€ìƒ ê³ ê°ì˜ ë°˜ì‘ì´ ê¸ì •(1 ë˜ëŠ” True) ë˜ëŠ” ë¶€ì •(0 ë˜ëŠ” False)ì¼ì§€ ì—¬ë¶€ì…ë‹ˆë‹¤. ì´ëŸ¬í•œ ë¶„ë¥˜ ëª¨ë¸ì„ ì´ìš©í•´ì„œ, ë§ˆì¼€íŒ…ì— ë…¸ì¶œë˜ì§€ ì•Šì€ ê³ ê°ë“¤ì˜ í”„ë¡œëª¨ì…˜ì— ëŒ€í•œ ë°˜ì‘ì„ ë¯¸ë¦¬ ì˜ˆì¸¡í•˜ê³  ì ì ˆí•œ ê³ ê°ì—ê²Œ ë§ˆì¼€íŒ…ì„ ë…¸ì¶œí•¨ìœ¼ë¡œì¨ ë§ˆì¼€íŒ… íš¨ìœ¨ì„ ì§€ì†ì ìœ¼ë¡œ ë†’ì¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

__ì•„ë˜ëŠ” ThanoSQL ë¶„ë¥˜ ëª¨ë¸ì˜ í™œìš© ë° ì˜ˆì‹œì…ë‹ˆë‹¤.__

- ë¶„ë¥˜ ëª¨ë¸ì€ í˜„ì¬ ì‚¬ìš©ìì˜ ì´íƒˆì— ëŒ€í•œ ì¡°ê¸° íƒì§€ë¥¼ ê°€ëŠ¥í•˜ê²Œ í•˜ê³  ë¬¸ì œ(ì´íƒˆ)ì— ì‚¬ì „ì— ëŒ€ë“±í•  ìˆ˜ ìˆë„ë¡ í•´ì¤ë‹ˆë‹¤. ê³¼ê±° ë°ì´í„°ë¥¼ í†µí•´ ì´íƒˆ ê³ ê°ì˜ íŠ¹ì„±ì„ íŒŒì•…í•  ìˆ˜ ìˆê²Œ ë˜ê³  ì´íƒˆ ê°€ëŠ¥ì„±ì´ ë†’ì€ ì‚¬ìš©ìë¥¼ ì‚¬ì „ì— ë°œê²¬í•¨ìœ¼ë¡œì¨ ì ì ˆí•œ ì¡°ì¹˜ê°€ ê°€ëŠ¥í•´ì§‘ë‹ˆë‹¤. ì´ë¥¼ í†µí•´ ê³ ê°ì´íƒˆ ë°©ì§€ ë° ë§¤ì¶œ ì¦ëŒ€ íš¨ê³¼ë¥¼ ê¸°ëŒ€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ì˜¨ë¼ì¸ í”Œë«í¼ ë‚´ì—ì„œ ì‚¬ìš©ìì˜ [ì„¸ê·¸ë¨¼íŠ¸](https://ko.wikipedia.org/wiki/%EC%8B%9C%EC%9E%A5%EC%84%B8%EB%B6%84%ED%99%94)ë¥¼ ì˜ˆì¸¡í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ëŒ€ë¶€ë¶„ì˜ ì„œë¹„ìŠ¤ ì‚¬ìš©ìë“¤ì€ ì„œë¡œ ë‹¤ë¥¸ íŠ¹ì„±ì„ ê°€ì§€ê³  ë‹¤ì–‘í•œ í–‰ë™ë°©ì‹(User Behaviour)ê³¼ ë‹ˆì¦ˆ(Needs)ë¥¼ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤. ë¶„ë¥˜ ì˜ˆì¸¡ ëª¨ë¸ì€ ì„œë¹„ìŠ¤ ì‚¬ìš©ìì˜ íŠ¹ì„±ì„ ì´ìš©í•˜ì—¬ ì„¸ë¶„í™”ëœ ì§‘ë‹¨ì„ ì‹ë³„í•˜ê³  ê·¸ë“¤ì—ê²Œ ë§ì¶¤í™”ëœ ì „ëµ ìˆ˜ë¦½ì„ ê°€ëŠ¥í•˜ê²Œ í•©ë‹ˆë‹¤.

<div class="admonition note">
    <h4 class="admonition-title">ë³¸ íŠœí† ë¦¬ì–¼ì—ì„œëŠ”</h4>
    <p>ğŸ‘‰ ëŒ€í‘œì ì¸ ë¨¸ì‹ ëŸ¬ë‹ ê²½ì§„ëŒ€íšŒ í”Œë«í¼ì¸ <a href="https://www.kaggle.com/">ìºê¸€</a>ì˜ ì…ë¬¸ìë¥¼ ìœ„í•œ Titanic: Machine Learning from Disaster ë°ì´í„° ì„¸íŠ¸ë¥¼ ì‚¬ìš©í•˜ì—¬ ìƒì¡´ì ì˜ˆì¸¡ ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ì´ ëŒ€íšŒì˜ ëª©í‘œëŠ” ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤. (ì°¸ê³ ë¡œ, í•´ë‹¹ ëŒ€íšŒì˜ ë°ì´í„°ëŠ” 1912ë…„ 4ì›” 15ì¼ ì‹¤ì œ íƒ€ì´íƒ€ë‹‰ ì‚¬ê±´ ë•Œ, íƒ‘ìŠ¹í–ˆì—ˆë˜ ìŠ¹ê°ë“¤ ëª…ë‹¨ì…ë‹ˆë‹¤.)</p>
</div>

__íƒ€ì´íƒ€ë‹‰ì—ì„œ ì‚´ì•„ë‚¨ì„ ìˆ˜ ìˆëŠ” ìŠ¹ê°ì„ ì˜ˆì¸¡í•˜ê¸°__

ThanoSQLì—ì„œëŠ” ìë™í™”ëœ ë¨¸ì‹ ëŸ¬ë‹(__AutoML__) ë„êµ¬ë¥¼ ì œê³µí•©ë‹ˆë‹¤. ë³¸ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” <strong>AutoML</strong>ì„ ì‚¬ìš©í•˜ì—¬ íƒ€ì´íƒ€ë‹‰ì—ì„œ ì‚´ì•„ë‚¨ì„ ìˆ˜ ìˆëŠ” ìŠ¹ê°ì„ ì˜ˆì¸¡í•©ë‹ˆë‹¤. ThanoSQLì—ì„œ ì œê³µí•˜ëŠ” <strong>AutoML</strong>ì€ ëª¨ë¸(Model)ê°œë°œì„ ìœ„í•œ í”„ë¡œì„¸ìŠ¤ë¥¼ ìë™í™”í•˜ê³ , ë°ì´í„° ê³¼í•™(Data Science)ì— ëŒ€í•œ ì „ë¬¸ì§€ì‹ì´ ì—†ì–´ë„ ë°ì´í„°ì˜ ìˆ˜ì§‘ ë° ì €ì¥, ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì˜ ê°œë°œ ë° ë°°í¬(ì—”ë“œíˆ¬ì—”ë“œ ë¨¸ì‹ ëŸ¬ë‹ íŒŒì´í”„ë¼ì¸)ë¥¼ í•˜ë‚˜ì˜ ì–¸ì–´(ThanoSQL)ë§Œìœ¼ë¡œ ê°€ëŠ¥í•˜ë„ë¡ ì§€ì›í•©ë‹ˆë‹¤.

__ìë™í™”ëœ MLì„ ì‚¬ìš©í•˜ë©´ ë‹¤ìŒê³¼ ê°™ì€ ì¥ì ì´ ìˆìŠµë‹ˆë‹¤__

1. ê´‘ë²”ìœ„í•œ í”„ë¡œê·¸ë˜ë° ë˜ëŠ” ë°ì´í„° ê³¼í•™ì— ëŒ€í•œ ì§€ì‹ì´ ì—†ì–´ë„ ë¨¸ì‹ ëŸ¬ë‹ ì†”ë£¨ì…˜ì˜ êµ¬í˜„ ë° ë°°í¬ê°€ ê°€ëŠ¥
2. ê°œë°œëª¨ë¸ì˜ ë°°í¬ì— ë“¤ì–´ê°€ëŠ” ì‹œê°„ ë° ë¦¬ì†ŒìŠ¤ë¥¼ ì ˆì•½
3. ì˜ì‚¬ê²°ì •ì„ ìœ„í•´ ë³´ìœ í•˜ê³  ìˆëŠ” ë°ì´í„°ë¥¼ ì´ìš©í•œ ì‹ ì†í•œ ë¬¸ì œí•´ê²°ì´ ê°€ëŠ¥

ì´ì œë¶€í„° ThanoSQLì„ ì‚¬ìš©í•˜ì—¬ ê°„ë‹¨í•˜ê²Œ íƒ€ì´íƒ€ë‹‰ì—ì„œ ì‚´ì•„ë‚¨ì„ ìˆ˜ ìˆëŠ” ìŠ¹ê°ì„ ì˜ˆì¸¡í•˜ëŠ” ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë´…ë‹ˆë‹¤.

## __0. ë°ì´í„° ì„¸íŠ¸ ì¤€ë¹„__

ThanoSQLì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” [ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤](https://docs.thanosql.ai/ko/getting_started/paas/workspace/lab/)ì—ì„œ ì–¸ê¸‰ëœ ê²ƒì²˜ëŸ¼ API í† í°ì„ ìƒì„±í•˜ê³  ì•„ë˜ì˜ ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN=<ë°œê¸‰ë°›ì€_API_TOKEN>

### __ë°ì´í„° ì„¸íŠ¸ ì¤€ë¹„__

In [2]:
%%thanosql
GET THANOSQL DATASET titanic_data
OPTIONS (overwrite=True)

Success

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>GET THANOSQL DATASET</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì›í•˜ëŠ” ë°ì´í„° ì„¸íŠ¸ë¥¼ ì›Œí¬ìŠ¤í˜ì´ìŠ¤ì— ì €ì¥í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ <strong>GET THANOSQL DATASET</strong>ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>"overwrite": ë™ì¼ ì´ë¦„ì˜ ë°ì´í„° ì„¸íŠ¸ê°€ ì¡´ì¬í•˜ëŠ” ê²½ìš° ë®ì–´ì“°ê¸° ê°€ëŠ¥ ì—¬ë¶€ ì„¤ì •. Trueì¼ ê²½ìš° ê¸°ì¡´ ë°ì´í„° ì„¸íŠ¸ëŠ” ìƒˆë¡œìš´ ë°ì´í„° ì„¸íŠ¸ë¡œ ë³€ê²½ë¨ (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

In [3]:
%%thanosql
COPY titanic_train
OPTIONS (if_exists='replace')
FROM 'thanosql-dataset/titanic_data/titanic_train.csv'

Success

In [4]:
%%thanosql
COPY titanic_test
OPTIONS (if_exists='replace')
FROM 'thanosql-dataset/titanic_data/titanic_test.csv'

Success

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>COPY</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥ í•  í…Œì´ë¸”ëª…ì„ ì§€ì •í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ <strong>COPY</strong>ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>"if_exists": ë™ì¼ ì´ë¦„ì˜ í…Œì´ë¸”ì´ ì¡´ì¬í•˜ëŠ” ê²½ìš° ì²˜ë¦¬í•˜ëŠ” ë°©ë²• ì„¤ì •. ì˜¤ë¥˜ ë°œìƒ, ê¸°ì¡´ í…Œì´ë¸”ì— ì¶”ê°€, ê¸°ì¡´ í…Œì´ë¸” ëŒ€ì²´ (str, optional, 'fail'|'replace'|'append', default: 'fail')</li>
        </ul>
        </li>
    </ul>
</div>

## __1. ë°ì´í„° ì„¸íŠ¸ í™•ì¸__

ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤ ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥ë˜ì–´ ìˆëŠ” __titanic_train__ í…Œì´ë¸”ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ê³  í…Œì´ë¸”ì˜ ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤.

In [5]:
%%thanosql
SELECT *
FROM titanic_train
LIMIT 5

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

<div class="admonition note">
    <h4 class="admonition-title">ë°ì´í„° í…Œì´ë¸” ì´í•´í•˜ê¸°</h4>
    <p><strong>tianic_train</strong> í…Œì´ë¸”ì€ ì•„ë˜ì™€ ê°™ì€ ì •ë³´ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.</p>
    <ul>
        <li>passengerid: íƒ‘ìŠ¹ìŠ¹ê° ì•„ì´ë””</li>
        <li>survived: íƒ‘ìŠ¹ìŠ¹ê° ìƒì¡´ ì—¬ë¶€</li>
        <li>pclass: íƒ‘ìŠ¹ìŠ¹ê° í‹°ì¼“ ë“±ê¸‰</li>
        <li>name: íƒ‘ìŠ¹ìŠ¹ê° ì´ë¦„</li>
        <li>sex: íƒ‘ìŠ¹ìŠ¹ê° ì„±ë³„</li>
        <li>age: íƒ‘ìŠ¹ìŠ¹ê° ë‚˜ì´</li>
        <li>sibsp: íƒ‘ìŠ¹í•œ í˜•ì œ ìë§¤ ë˜ëŠ” ë°°ìš°ì ìˆ˜</li>
        <li>parch: íƒ‘ìŠ¹í•œ ë¶€ëª¨ ë˜ëŠ” ìë…€ì˜ ìˆ˜</li>
        <li>ticket: í‹°ì¼“ ë²ˆí˜¸</li>
        <li>fare: ìš”ê¸ˆ</li>
        <li>cabin: ì„ ì‹¤</li>
        <li>embarked: ìŠ¹ì„ ì§€ ë˜ëŠ” í•­êµ¬</li>
    </ul>
</div>

ì´ë²ˆ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” ì¶”ê°€ì ì¸ ì¿¼ë¦¬ë¬¸ì„ ì´ìš©í•œ ë°ì´í„° ì „ì²˜ë¦¬ê°€ í•„ìš”í•œ name, ticket, cabin, passengeridì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  ëª¨ë¸ í•™ìŠµì„ ì§„í–‰í•˜ê² ìŠµë‹ˆë‹¤.

## __2. ë¶„ë¥˜ ëª¨ë¸ ìƒì„±__

ì´ì „ ë‹¨ê³„ì—ì„œ í™•ì¸í•œ __titanic_train__ í…Œì´ë¸”ì„ ì‚¬ìš©í•˜ì—¬ ìƒì¡´ì ì˜ˆì¸¡ ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ <strong>titanic_automl_classification</strong>ì´ë¼ëŠ” ì´ë¦„ì˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤.  
(ì¿¼ë¦¬ ì‹¤í–‰ ì‹œ ì˜ˆìƒ ì†Œìš” ì‹œê°„: 8 min)

In [6]:
%%thanosql
BUILD MODEL titanic_automl_classification
USING AutomlClassifier
OPTIONS (
    target_col='survived',
    impute_type='iterative',
    features_to_drop=['name', 'ticket', 'passengerid', 'cabin'],
    time_left_for_this_task=300,
    overwrite=True
    )
AS
SELECT *
FROM titanic_train

Success

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>BUILD MODEL</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ <strong>titanic_automl_classification</strong>ì´ë¼ëŠ” ëª¨ë¸ì„ ë§Œë“¤ê³  í•™ìŠµì‹œí‚µë‹ˆë‹¤.</li>
        <li>"<strong>USING</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ ë² ì´ìŠ¤ ëª¨ë¸ë¡œ <strong>AutomlClassifier</strong>ë¥¼ ì‚¬ìš©í•  ê²ƒì„ ëª…ì‹œí•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ ëª¨ë¸ ìƒì„±ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>"target_col": ë¶„ë¥˜ ëª¨ë¸ì˜ ëª©í‘¯ê°’ì´ ë‹´ê²¨ ìˆëŠ” ì»¬ëŸ¼ëª… (str, default: 'target')</li>
            <li>"impute_type": ë°ì´í„° í…Œì´ë¸”ì˜ ë¹ˆ ê°’(NaN)ì„ ì²˜ë¦¬í•˜ëŠ” ë°©ë²• ì„¤ì • (str, optional, 'simple'|'iterative', default: 'simple')</li>
            <li>"features_to_drop": ë°ì´í„° í…Œì´ë¸”ì—ì„œ í•™ìŠµì— ì´ìš©í•˜ì§€ ëª»í•˜ëŠ” ì»¬ëŸ¼ëª… ë¦¬ìŠ¤íŠ¸ (list[str], optional)</li>
            <li>"time_left_for_this_task": ì í•©í•œ ë¶„ë¥˜ ì˜ˆì¸¡ ëª¨ë¸ì„ ì°¾ëŠ”ë° ì†Œìš”ë˜ëŠ” ì´ˆ ë‹¨ìœ„ ì‹œê°„ (int, optional, default: 60)</li>
            <li>"overwrite": ë™ì¼ ì´ë¦„ì˜ ëª¨ë¸ì´ ì¡´ì¬í•˜ëŠ” ê²½ìš° ë®ì–´ì“°ê¸° ê°€ëŠ¥ ì—¬ë¶€ ì„¤ì •. Trueì¼ ê²½ìš° ê¸°ì¡´ ëª¨ë¸ì€ ìƒˆë¡œìš´ ëª¨ë¸ë¡œ ë³€ê²½ë¨ (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

## __3. ìƒì„±ëœ ëª¨ë¸ í‰ê°€__

ì•„ë˜ì˜ ì¿¼ë¦¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  ì˜ˆì¸¡ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í‰ê°€í•©ë‹ˆë‹¤.

In [7]:
%%thanosql 
EVALUATE USING titanic_automl_classification
OPTIONS (
    target_col='survived'
    )
AS
SELECT *
FROM titanic_train

      metric     score
0   Accuracy  0.923681
1     ROCAUC  0.927237
2     Recall  0.939103
3  Precision  0.856725
4   F1-Score  0.896024
5      Kappa  0.835941
6        MCC  0.838139

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>EVALUATE USING</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  <strong>titanic_automl_classification</strong> ëª¨ë¸ì„ í‰ê°€í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ ëª¨ë¸ í‰ê°€ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>"target_col": ë¶„ë¥˜ ëª¨ë¸ì˜ ëª©í‘¯ê°’ì´ ë‹´ê²¨ ìˆëŠ” ì»¬ëŸ¼ëª… (str, default: 'target')</li>
        </ul>
        </li>
    </ul>
</div>

<div class="admonition warning">
    <h4 class="admonition-title">í‰ê°€ìš© ë°ì´í„° ì„¸íŠ¸</h4>
    <p>í‰ê°€ìš© ë°ì´í„° ì„¸íŠ¸ëŠ” í•™ìŠµ ë°ì´í„° ì„¸íŠ¸ì˜ ì¼ë¶€ë¥¼ ë¶„ë¦¬í•˜ì—¬ í•™ìŠµì— ì‚¬ìš©ë˜ì§€ ì•Šì•„ì•¼ í•˜ë‚˜ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” í¸ì˜ìƒ í•™ìŠµ ë°ì´í„°ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤</p>
</div>

## __4. ìƒì„±ëœ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ ìƒì¡´ì ì˜ˆì¸¡__

ì´ì „ ë‹¨ê³„ì—ì„œ ìƒì„±í•œ ìƒì¡´ì ì˜ˆì¸¡ ëª¨ë¸ì„ ì‚¬ìš©í•´ íƒ‘ìŠ¹ ìŠ¹ê° ì •ë³´ì— ë”°ë¥¸ ìƒì¡´ ì—¬ë¶€ë¥¼ ì˜ˆì¸¡í•´ ë´…ë‹ˆë‹¤. í…ŒìŠ¤íŠ¸ìš© ë°ì´í„° ì„¸íŠ¸(í•™ìŠµì— ì´ìš©ë˜ì§€ ì•Šì€ ë°ì´í„° í…Œì´ë¸”, <strong>titanic_test</strong>)ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [8]:
%%thanosql 
PREDICT USING titanic_automl_classification
OPTIONS (
    result_col='predict_result'
    )
AS
SELECT *
FROM titanic_test

,passengerid,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,predict_result
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,None,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,None,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,None,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,None,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,None,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,None,S,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,None,S,0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,None,C,0

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>PREDICT USING</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  <strong>titanic_automl_classification</strong> ëª¨ë¸ì„ ì˜ˆì¸¡ì— ì‚¬ìš©í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ ì˜ˆì¸¡ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>"result_col": ë°ì´í„° í…Œì´ë¸”ì—ì„œ ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ë‹´ì„ ì»¬ëŸ¼ ì´ë¦„ (str, optional, default: 'predict_result')</li>
        </ul>
        </li>
    </ul>
</div>

## __5. íŠœí† ë¦¬ì–¼ì„ ë§ˆì¹˜ë©°__

ì´ë²ˆ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” [ìºê¸€](https://www.kaggle.com/)ì˜ Titanic: Machine Learning from Disaster ë°ì´í„° ì„¸íŠ¸ë¥¼ ì‚¬ìš©í•˜ì—¬ íƒ€ì´íƒ€ë‹‰ ìƒì¡´ì ë¶„ë¥˜ ì˜ˆì¸¡ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì•˜ìŠµë‹ˆë‹¤. ì´ˆê¸‰ ë‹¨ê³„ íŠœí† ë¦¬ì–¼ì¸ë§Œí¼ ì •í™•ë„ í–¥ìƒì„ ìœ„í•œ ê³¼ì •ë³´ë‹¤ëŠ” ì „ë°˜ì ì¸ í”„ë¡œì„¸ìŠ¤ ìœ„ì£¼ì˜ ì„¤ëª…ìœ¼ë¡œ ì§„í–‰ í•˜ì˜€ìŠµë‹ˆë‹¤.

* [ë‚˜ë§Œì˜ ë°ì´í„° ì—…ë¡œë“œí•˜ê¸°](https://docs.thanosql.ai/ko/getting_started/data_upload/)
* [ë‚˜ë§Œì˜ ë°ì´í„° í…Œì´ë¸” ìƒì„±í•˜ê¸°](https://docs.thanosql.ai/ko/how-to_guides/ThanoSQL_query/COPY_SYNTAX/)
* [ë‚˜ë§Œì˜ ëª¨ë¸ ì—…ë¡œë“œí•˜ê¸°](https://docs.thanosql.ai/ko/how-to_guides/ThanoSQL_query/UPLOAD_MODEL_SYNTAX/)

<div class="admonition tip">
    <h4 class="admonition-title">ë‚˜ë§Œì˜ ì„œë¹„ìŠ¤ë¥¼ ìœ„í•œ ëª¨ë¸ ë°°í¬ ê´€ë ¨ ë¬¸ì˜</h4>
    <p>ThanoSQLì„ í™œìš©í•´ ë‚˜ë§Œì˜ ëª¨ë¸ì„ ë§Œë“¤ê±°ë‚˜, ë‚˜ì˜ ì„œë¹„ìŠ¤ì— ì ìš©í•˜ëŠ”ë° ì–´ë ¤ì›€ì´ ìˆë‹¤ë©´ ì–¸ì œë“  ì•„ë˜ë¡œ ë¬¸ì˜ì£¼ì„¸ìš”ğŸ˜Š</p>
    <p>ë¶„ë¥˜ ëª¨ë¸ êµ¬ì¶• ê´€ë ¨ ë¬¸ì˜: <a href="mailto:contact@smartmind.team">contact@smartmind.team</a></p>
</div>