# __{íŠœí† ë¦¬ì–¼ ì œëª©}__

- íŠœí† ë¦¬ì–¼ ë‚œì´ë„: {â˜…â˜†â˜†â˜†â˜†}
- ì½ëŠ”ë° ê±¸ë¦¬ëŠ” ì‹œê°„: {0}ë¶„
- ì‚¬ìš© ì–¸ì–´: [SQL](https://ko.wikipedia.org/wiki/SQL) (100%)
- ì‹¤í–‰ íŒŒì¼ ìœ„ì¹˜: tutorial/thanosql_ml/{í´ë” ì´ë¦„}/{íŒŒì¼ ì´ë¦„}.ipynb
- ì°¸ê³  ë¬¸ì„œ: [ë°ì´í„° ì„¸íŠ¸](ë‹¤ìš´ë¡œë“œ ê°€ëŠ¥í•œ ë§í¬), [ì°¸ê³  ë¬¸ì„œ](ë…¼ë¬¸ í˜¹ì€ ê°œë… ì„¤ëª… ê¸€)

## íŠœí† ë¦¬ì–¼ ì†Œê°œ

<div class="admonition note">
    <h4 class="admonition-title">OOO ì´í•´í•˜ê¸°</h4>
    <p>í•´ë‹¹ ëª¨ë¸ ì‘ì—…ì— ëŒ€í•œ ì„¤ëª…ì„ ì ìŠµë‹ˆë‹¤. (ì˜ˆì‹œ) ë¶„ë¥˜ ì‘ì—…ì€ ëª©í‘¯ê°’(Target)ì´ ì†í•œ ë²”ì£¼(Category ë˜ëŠ” Class)ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” <a href="https://ko.wikipedia.org/wiki/%EA%B8%B0%EA%B3%84_%ED%95%99%EC%8A%B5">ë¨¸ì‹ ëŸ¬ë‹(ê¸°ê³„í•™ìŠµ/Machine Learning)</a>ì˜ í•œ í˜•íƒœì…ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, ë‚¨ì„± ë˜ëŠ” ì—¬ì„±ì„ ë¶„ë¥˜í•˜ëŠ” ì´ì§„ ë¶„ë¥˜ì™€ ë™ë¬¼ì˜ ì¢…(ê°œ, ê³ ì–‘ì´, í† ë¼ ë“±)ì„ ì˜ˆì¸¡í•˜ëŠ” ë‹¤ì¤‘ ë¶„ë¥˜ ëª¨ë‘ ë¶„ë¥˜ ì‘ì—…ì— í¬í•¨ë©ë‹ˆë‹¤.</p>
</div>

ì¶”ê°€ì ì¸ ì„¤ëª…ì´ í•„ìš”í•œ ê²½ìš° ì—¬ê¸°ì— ì ìŠµë‹ˆë‹¤.

(ì˜ˆì‹œ) ê¸°ì—…ì˜ íŠ¹ì • ë§ˆì¼€íŒ… í”„ë¡œëª¨ì…˜ì— ëŒ€í•´ ì ì¬ê³ ê°ì´ ê¸ì •ì ì¸ ë°˜ì‘ì„ ë³´ì¼ ê²ƒì¸ì§€ ì•„ë‹Œì§€ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ì„œëŠ” ê³ ê°ì˜ [CRM(Customer Relationship Management)](https://ko.wikipedia.org/wiki/%EA%B3%A0%EA%B0%9D_%EA%B4%80%EA%B3%84_%EA%B4%80%EB%A6%AC) ë°ì´í„°(ì¸êµ¬ í†µê³„í•™ ì •ë³´, ê³ ê°ì˜ í–‰ë™/ê²€ìƒ‰ ë°ì´í„° ë“±)ë¥¼ ì´ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ ê²½ìš° CRM ë°ì´í„°ì—ì„œ í‘œí˜„ë˜ëŠ” <a href="https://ko.wikipedia.org/wiki/%ED%8A%B9%EC%A7%95_(%EA%B8%B0%EA%B3%84_%ED%95%99%EC%8A%B5)">íŠ¹ì„±(Feature)</a>ì´ ì…ë ¥ ë°ì´í„°ë¡œ ì‚¬ìš©ë˜ë©°, ì˜ˆì¸¡í•˜ê³ ì í•˜ëŠ” ê°’ì¸ ëª©í‘¯ê°’ì€ í”„ë¡œëª¨ì…˜ì— ëŒ€í•œ ëŒ€ìƒ ê³ ê°ì˜ ë°˜ì‘ì´ ê¸ì •(1 ë˜ëŠ” True) ë˜ëŠ” ë¶€ì •(0 ë˜ëŠ” False)ì¼ì§€ ì—¬ë¶€ì…ë‹ˆë‹¤. ì´ëŸ¬í•œ ë¶„ë¥˜ ëª¨ë¸ì„ ì´ìš©í•´ì„œ, ë§ˆì¼€íŒ…ì— ë…¸ì¶œë˜ì§€ ì•Šì€ ê³ ê°ë“¤ì˜ í”„ë¡œëª¨ì…˜ì— ëŒ€í•œ ë°˜ì‘ì„ ë¯¸ë¦¬ ì˜ˆì¸¡í•˜ê³  ì ì ˆí•œ ê³ ê°ì—ê²Œ ë§ˆì¼€íŒ…ì„ ë…¸ì¶œí•¨ìœ¼ë¡œì¨ ë§ˆì¼€íŒ… íš¨ìœ¨ì„ ì§€ì†ì ìœ¼ë¡œ ë†’ì¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

__ì•„ë˜ëŠ” ThanoSQL OOO ëª¨ë¸ì˜ í™œìš© ë° ì˜ˆì‹œì…ë‹ˆë‹¤.__

- ThanoSQL í™œìš©ë°©ì•ˆ ë° ì˜ˆì‹œë¥¼ 2~3ê°œ ì ìŠµë‹ˆë‹¤.
- (ì˜ˆì‹œ) ì˜¨ë¼ì¸ í”Œë«í¼ ë‚´ì—ì„œ ì‚¬ìš©ìì˜ [ì„¸ê·¸ë¨¼íŠ¸](https://ko.wikipedia.org/wiki/%EC%8B%9C%EC%9E%A5%EC%84%B8%EB%B6%84%ED%99%94)ë¥¼ ì˜ˆì¸¡í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ëŒ€ë¶€ë¶„ì˜ ì„œë¹„ìŠ¤ ì‚¬ìš©ìë“¤ì€ ì„œë¡œ ë‹¤ë¥¸ íŠ¹ì„±ì„ ê°€ì§€ê³  ë‹¤ì–‘í•œ í–‰ë™ë°©ì‹(User Behaviour)ê³¼ ë‹ˆì¦ˆ(Needs)ë¥¼ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤. ë¶„ë¥˜ ì˜ˆì¸¡ ëª¨ë¸ì€ ì„œë¹„ìŠ¤ ì‚¬ìš©ìì˜ íŠ¹ì„±ì„ ì´ìš©í•˜ì—¬ ì„¸ë¶„í™”ëœ ì§‘ë‹¨ì„ ì‹ë³„í•˜ê³  ê·¸ë“¤ì—ê²Œ ë§ì¶¤í™”ëœ ì „ëµ ìˆ˜ë¦½ì„ ê°€ëŠ¥í•˜ê²Œ í•©ë‹ˆë‹¤.

<div class="admonition note">
    <h4 class="admonition-title">ë³¸ íŠœí† ë¦¬ì–¼ì—ì„œëŠ”</h4>
    <p>ğŸ‘‰ í•´ë‹¹ íŠœí† ë¦¬ì–¼ì— ëŒ€í•œ ì„¤ëª…ì„ ì ìŠµë‹ˆë‹¤.</p>
</div>

<div class="admonition tip">
    <h4 class="admonition-title">(Optional)ë°ì´í„° ì„¸íŠ¸ ì„¤ëª…</h4>
    <p>ë°ì´í„° ì„¸íŠ¸ ì„¤ëª…ì´ í•„ìš”í•˜ë©´ ì¶”ê°€ë¡œ ì‘ì„±í•©ë‹ˆë‹¤. í•„ìš” ì—†ì„ ì‹œ ìƒëµ ê°€ëŠ¥</p>
</div>
    
ì¶”ê°€ì ì¸ ì„¤ëª…ì´ í•„ìš”í•œ ê²½ìš° ì ì–´ì¤ë‹ˆë‹¤. (ì˜ˆì‹œ) ì´ì œë¶€í„° ThanoSQLì„ ì‚¬ìš©í•˜ì—¬ ê°„ë‹¨í•˜ê²Œ íƒ€ì´íƒ€ë‹‰ì—ì„œ ì‚´ì•„ë‚¨ì„ ìˆ˜ ìˆëŠ” ìŠ¹ê°ì„ ì˜ˆì¸¡í•˜ëŠ” ë¶„ë¥˜ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë´…ë‹ˆë‹¤.

## __0. ë°ì´í„° ì„¸íŠ¸ ì¤€ë¹„__

ThanoSQLì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” [ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤](https://docs.thanosql.ai/ko/getting_started/how_to_use_ThanoSQL/#5-thanosql)ì—ì„œ ì–¸ê¸‰ëœ ê²ƒì²˜ëŸ¼ API í† í°ì„ ìƒì„±í•˜ê³  ì•„ë˜ì˜ ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

(ë˜ëŠ”) (pre-built ëª¨ë¸ì´ ìˆëŠ” ê²½ìš°)

## __0. ë°ì´í„° ì„¸íŠ¸ ë° ëª¨ë¸ ì¤€ë¹„__

ThanoSQLì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” [ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤](https://docs.thanosql.ai/ko/getting_started/how_to_use_ThanoSQL/#5-thanosql)ì—ì„œ ì–¸ê¸‰ëœ ê²ƒì²˜ëŸ¼ API í† í°ì„ ìƒì„±í•˜ê³  ì•„ë˜ì˜ ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN=<ë°œê¸‰ë°›ì€_API_TOKEN>

### __ë°ì´í„° ì„¸íŠ¸ ì¤€ë¹„__

In [2]:
%%thanosql
GET THANOSQL DATASET {ë°ì´í„° ì„¸íŠ¸}
OPTIONS (overwrite=True)

Success

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>GET THANOSQL DATASET</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì›í•˜ëŠ” ë°ì´í„° ì„¸íŠ¸ë¥¼ ì›Œí¬ìŠ¤í˜ì´ìŠ¤ì— ì €ì¥í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ <strong>GET THANOSQL DATASET</strong>ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>"overwrite": ë™ì¼ ì´ë¦„ì˜ ë°ì´í„° ì„¸íŠ¸ê°€ ì¡´ì¬í•˜ëŠ” ê²½ìš° ë®ì–´ì“°ê¸° ê°€ëŠ¥ ìœ ë¬´ ì„¤ì •. Trueì¼ ê²½ìš° ê¸°ì¡´ ë°ì´í„° ì„¸íŠ¸ëŠ” ìƒˆë¡œìš´ ë°ì´í„° ì„¸íŠ¸ë¡œ ë³€ê²½ë¨ (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

In [3]:
%%thanosql
COPY {í…Œì´ë¸” ì´ë¦„}
OPTIONS (overwrite=True)
FROM 'csv íŒŒì¼ ìœ„ì¹˜'

Success

In [4]:
(ì˜ˆì‹œ)
%%thanosql
COPY titanic_test
OPTIONS (overwrite=True)
FROM 'thanosql-dataset/titanic_data/titanic_test.csv'

Success

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>COPY</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥ í•  í…Œì´ë¸”ëª…ì„ ì§€ì •í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ <strong>COPY</strong>ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>"overwrite": ë™ì¼ ì´ë¦„ì˜ í…Œì´ë¸”ì´ ë°ì´í„°ë² ì´ìŠ¤ ìƒì— ì¡´ì¬í•˜ëŠ” ê²½ìš° ë®ì–´ì“°ê¸° ê°€ëŠ¥ ìœ ë¬´ ì„¤ì •. Trueì¼ ê²½ìš° ê¸°ì¡´ í…Œì´ë¸”ì€ ìƒˆë¡œìš´ í…Œì´ë¸”ë¡œ ë³€ê²½ë¨ (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

#### (pre-built ëª¨ë¸ì´ ìˆëŠ” ê²½ìš°)

### __ëª¨ë¸ ì¤€ë¹„__

In [4]:
%%thanosql
GET THANOSQL MODEL {ëª¨ë¸ ì´ë¦„}
OPTIONS (
    model_name='tutorial_ëª¨ë¸ì´ë¦„',
    overwrite=True
    )

Success

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>GET THANOSQL MODEL</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì›í•˜ëŠ” ëª¨ë¸ì„ ì›Œí¬ìŠ¤í˜ì´ìŠ¤ ë° ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ <strong>GET THANOSQL MODEL</strong>ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>â€œmodel_nameâ€: ì €ì¥í•  ëª¨ë¸ì˜ ì´ë¦„ (str, optional)</li>
            <li>"overwrite": ë™ì¼ ì´ë¦„ì˜ ëª¨ë¸ì´ ì¡´ì¬í•˜ëŠ” ê²½ìš° ë®ì–´ì“°ê¸° ê°€ëŠ¥ ìœ ë¬´ ì„¤ì •. Trueì¼ ê²½ìš° ê¸°ì¡´ ëª¨ë¸ì€ ìƒˆë¡œìš´ ëª¨ë¸ë¡œ ë³€ê²½ë¨ (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

## __1. ë°ì´í„° ì„¸íŠ¸ í™•ì¸__

OOO ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤ ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥ë˜ì–´ ìˆëŠ” __{í…Œì´ë¸” ì´ë¦„}__ í…Œì´ë¸”ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ê³  í…Œì´ë¸”ì˜ ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤.

(ë˜ëŠ”) (BUILDë¥¼ ì§€ì›í•˜ì§€ ì•Šì„ ê²½ìš°)

## __1. ë°ì´í„° ì„¸íŠ¸ í™•ì¸__

ë³¸ íŠœí† ë¦¬ì–¼ì„ ì§„í–‰í•˜ê¸° ìœ„í•´ ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤ ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥ë˜ì–´ ìˆëŠ” __{í…Œì´ë¸” ì´ë¦„}__ í…Œì´ë¸”ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ê³  í…Œì´ë¸”ì˜ ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤.

In [5]:
%%thanosql
SELECT *
FROM {í…Œì´ë¸” ì´ë¦„}
LIMIT 5

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

<div class="admonition note">
    <h4 class="admonition-title">ë°ì´í„° í…Œì´ë¸” ì´í•´í•˜ê¸°</h4>
    <p><strong>{í…Œì´ë¸” ì´ë¦„}</strong> í…Œì´ë¸”ì€ ì•„ë˜ì™€ ê°™ì€ ì •ë³´ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.</p>
    <ul>
        <li>{ì¹¼ëŸ¼ëª…}: ì¹¼ëŸ¼ ì„¤ëª…</li>
        <li>(ì˜ˆì‹œ) survived: íƒ‘ìŠ¹ìŠ¹ê° ìƒì¡´ ì—¬ë¶€</li>
    </ul>
</div>

#### (pre-built ëª¨ë¸ì´ ìˆëŠ” ê²½ìš°)

## __2. ì‚¬ì „ í•™ìŠµëœ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ OOO ì˜ˆì¸¡__

ë‹¤ìŒ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ __{pre-built ëª¨ë¸ ì´ë¦„}__ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ ê²°ê³¼ë¥¼ ì˜ˆì¸¡í•©ë‹ˆë‹¤.

In [ ]:
%%thanosql
PREDICT USING {pre-built ëª¨ë¸ ì´ë¦„}
OPTIONS (
    (ì˜ˆì‹œ) image_col='image_path',
    (ì˜ˆì‹œ) result_col='predict_result'
    )
AS
SELECT *
FROM {í…Œì´ë¸” ì´ë¦„}

## __2. OOO ëª¨ë¸ ìƒì„±__

ì´ì „ ë‹¨ê³„ì—ì„œ í™•ì¸í•œ __{í…Œì´ë¸” ì´ë¦„}__ í…Œì´ë¸”ì„ ì‚¬ìš©í•˜ì—¬ OOO ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ <strong>{ëª¨ë¸ ì´ë¦„}</strong>ì´ë¼ëŠ” ì´ë¦„ì˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤.\
(ì¿¼ë¦¬ ì‹¤í–‰ ì‹œ ì˜ˆìƒ ì†Œìš” ì‹œê°„: {0} min)

In [6]:
%%thanosql
BUILD MODEL {ëª¨ë¸ ì´ë¦„}
USING {ë² ì´ìŠ¤ ëª¨ë¸ ì´ë¦„}
OPTIONS (
    í•„ìš”í•œ_ì˜µì…˜=ì¶”ê°€,
    overwrite=True
    )
AS
SELECT *
FROM {í…Œì´ë¸” ì´ë¦„}

Success

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>BUILD MODEL</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ <strong>{ëª¨ë¸ ì´ë¦„}</strong>ì´ë¼ëŠ” ëª¨ë¸ì„ ë§Œë“¤ê³  í•™ìŠµì‹œí‚µë‹ˆë‹¤.</li>
        <li>"<strong>USING</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ ë² ì´ìŠ¤ ëª¨ë¸ë¡œ <strong>{ë² ì´ìŠ¤ ëª¨ë¸ ì´ë¦„}</strong>ë¥¼ ì‚¬ìš©í•  ê²ƒì„ ëª…ì‹œí•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ ëª¨ë¸ ìƒì„±ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>(ì˜ˆì‹œ) "target_col": ë¶„ë¥˜ ëª¨ë¸ì˜ ëª©í‘¯ê°’ì´ ë‹´ê²¨ ìˆëŠ” ì»¬ëŸ¼ëª… (str, default: 'target')</li>
            <li>"overwrite": ë™ì¼ ì´ë¦„ì˜ ëª¨ë¸ì´ ì¡´ì¬í•˜ëŠ” ê²½ìš° ë®ì–´ì“°ê¸° ê°€ëŠ¥ ìœ ë¬´ ì„¤ì •. Trueì¼ ê²½ìš° ê¸°ì¡´ ëª¨ë¸ì€ ìƒˆë¡œìš´ ëª¨ë¸ë¡œ ë³€ê²½ë¨ (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

## __3. (ìƒì„±ëœ) ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ OOO ì˜ˆì¸¡__

ì´ì „ ë‹¨ê³„ì—ì„œ (ìƒì„±í•œ) OOO ëª¨ë¸ì„ ì‚¬ìš©í•´ OOOì„ ì˜ˆì¸¡í•´ ë´…ë‹ˆë‹¤. í…ŒìŠ¤íŠ¸ìš© ë°ì´í„° ì„¸íŠ¸(í•™ìŠµì— ì´ìš©ë˜ì§€ ì•Šì€ ë°ì´í„° í…Œì´ë¸”, <strong>{í…Œì´ë¸” ì´ë¦„}</strong>)ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [8]:
%%thanosql
PREDICT USING {ëª¨ë¸ ì´ë¦„}
OPTIONS (
    (ì˜ˆì‹œ) image_col='image_path',
    (ì˜ˆì‹œ) result_col='predict_result'
    (ì˜ˆì‹œ) table_name='{í…Œì´ë¸” ì´ë¦„}'
    )
AS
SELECT *
FROM {í…Œì´ë¸” ì´ë¦„}

,passengerid,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,predict_result
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,None,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,None,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,None,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,None,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,None,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,None,S,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,None,S,0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,None,C,0

<div class="admonition note">
    <h4 class="admonition-title">ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´</h4>
    <ul>
        <li>"<strong>PREDICT USING</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  <strong>{ëª¨ë¸ ì´ë¦„}</strong> ëª¨ë¸ì„ ì˜ˆì¸¡ì— ì‚¬ìš©í•©ë‹ˆë‹¤.</li>
        <li>"<strong>OPTIONS</strong>" ì¿¼ë¦¬ êµ¬ë¬¸ì„ í†µí•´ ì˜ˆì¸¡ì— ì‚¬ìš©í•  ì˜µì…˜ì„ ì§€ì •í•©ë‹ˆë‹¤.
        <ul>
            <li>(ì˜ˆì‹œ) "image_col": ì˜ˆì¸¡ì— ì‚¬ìš©í•  ì´ë¯¸ì§€ì˜ ê²½ë¡œê°€ ê¸°ë¡ë˜ì–´ ìˆëŠ” ì»¬ëŸ¼ì˜ ì´ë¦„ (str, default: 'image_path')</li>
            <li>(ì˜ˆì‹œ) "result_col": ë°ì´í„° í…Œì´ë¸”ì—ì„œ ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ë‹´ì„ ì»¬ëŸ¼ ì´ë¦„ (str, optional, default: 'predict_result')</li>
            <li>(ì˜ˆì‹œ) "table_name": ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤ ë°ì´í„°ë² ì´ìŠ¤ ë‚´ì— ì €ì¥ë  í…Œì´ë¸” ì´ë¦„. ê¸°ì¡´ì— ì‚¬ìš©í•œ í…Œì´ë¸” ì´ë¦„ìœ¼ë¡œ ì§€ì •í•  ê²½ìš°, ê¸°ì¡´ í…Œì´ë¸”ì€ 'predict_result' ì»¬ëŸ¼ì„ ì¶”ê°€í•œ í…Œì´ë¸”ë¡œ ëŒ€ì²´. ì§€ì •í•˜ì§€ ì•Šì„ ì‹œ í…Œì´ë¸”ì„ ì €ì¥í•˜ì§€ ì•ŠìŒ (str, optional)</li>
        </ul>
        </li>
    </ul>
</div>

## __4. íŠœí† ë¦¬ì–¼ì„ ë§ˆì¹˜ë©°__

ì´ë²ˆ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” {ë°ì´í„° ì„¸íŠ¸} ë°ì´í„° ì„¸íŠ¸ë¥¼ ì‚¬ìš©í•˜ì—¬ OOO ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì•˜ìŠµë‹ˆë‹¤. (ë’¤ì— ë‚´ìš© ì¶”ê°€)

* [ë‚˜ë§Œì˜ ë°ì´í„° ì—…ë¡œë“œí•˜ê¸°](https://docs.thanosql.ai/ko/getting_started/data_upload/)
* [ë‚˜ë§Œì˜ ë°ì´í„° í…Œì´ë¸” ìƒì„±í•˜ê¸°](https://docs.thanosql.ai/ko/how-to_guides/ThanoSQL_query/COPY_SYNTAX/)
* [ë‚˜ë§Œì˜ ëª¨ë¸ ì—…ë¡œë“œí•˜ê¸°](https://docs.thanosql.ai/ko/how-to_guides/ThanoSQL_query/UPLOAD_SYNTAX/)

<div class="admonition tip">
    <h4 class="admonition-title">ë‚˜ë§Œì˜ ì„œë¹„ìŠ¤ë¥¼ ìœ„í•œ ëª¨ë¸ ë°°í¬ ê´€ë ¨ ë¬¸ì˜</h4>
    <p>ThanoSQLì„ í™œìš©í•´ ë‚˜ë§Œì˜ ëª¨ë¸ì„ ë§Œë“¤ê±°ë‚˜, ë‚˜ì˜ ì„œë¹„ìŠ¤ì— ì ìš©í•˜ëŠ”ë° ì–´ë ¤ì›€ì´ ìˆë‹¤ë©´ ì–¸ì œë“  ì•„ë˜ë¡œ ë¬¸ì˜ì£¼ì„¸ìš”ğŸ˜Š</p>
    <p>OOO ëª¨ë¸ êµ¬ì¶• ê´€ë ¨ ë¬¸ì˜: <a href="mailto:contact@smartmind.team">contact@smartmind.team</a></p>
</div>