# __Auto-MLì„ ì‚¬ìš©í•˜ì—¬ ì˜ˆì¸¡ ëª¨ë¸ ë§Œë“¤ê¸°__

**íšŒê·€ ì‘ì—… ì´í•´í•˜ê¸°** 
--- 
ğŸ‘‰ íšŒê·€ ì‘ì—…ì€ ëª©í‘œê°’(Target)ì´ ì—°ì†ì„±ì„ ì§€ë‹Œ ìˆ«ìë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ë¨¸ì‹ ëŸ¬ë‹(ê¸°ê³„í•™ìŠµ/Machine Learning)ì˜ í•œ í˜•íƒœì…ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, ê¸°ìƒ ë°ì´í„°ê°€ ì£¼ì–´ì¡Œì„ ë•Œ ë‚´ì¼ ê¸°ì˜¨ì„ ì˜ˆì¸¡í•˜ê±°ë‚˜, íŠ¹ì •ì§€ì—­ì˜ ì§‘ê°’ì„ ì˜ˆì¸¡í•  ë•Œ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.


**ë³¸ íŠœí† ë¦¬ì–¼ì—ì„œëŠ”**
--- 
ğŸ‘‰ ëŒ€í‘œì ì¸ ë¨¸ì‹ ëŸ¬ë‹ ê²½ì§„ëŒ€íšŒ í”Œë«í¼ì¸ ìºê¸€ì˜ ì…ë¬¸ìë¥¼ ìœ„í•œ Bike Sharing Demand ë°ì´í„° ì„¸íŠ¸ë¥¼ ì‚¬ìš©í•˜ì—¬ ìì „ê±° ìˆ˜ìš” ì˜ˆì¸¡ íšŒê·€ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ì´ ëŒ€íšŒì˜ ëª©í‘œëŠ” ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤. (ì°¸ê³ ë¡œ, í•´ë‹¹ ëŒ€íšŒì˜ ë°ì´í„°ëŠ” 2011ë…„ë¶€í„° 2012ë…„ê¹Œì§€ ë‚ ì§œì™€ ì‹œê°„, ê¸°ì˜¨, ìŠµë„, í’ì† ë“±ì˜ ì •ë³´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ìì „ê±° ëŒ€ì—¬ íšŸìˆ˜ê°€ ê¸°ì¬ë˜ì–´ ìˆìŠµë‹ˆë‹¤.)

- íŠ¹ì • ë‚ ì§œì—ì„œ ì‹œê°„ëŒ€ë³„ ìì „ê±° ëŒ€ì—¬ ìˆ˜ëŸ‰ ì˜ˆì¸¡í•˜ê¸°

## __0. ë°ì´í„° ì¤€ë¹„__

ThanoSQLì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” [ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤](https://docs.thanosql.ai/quick_start/how_to_use_ThanoSQL/#5-thanosql)
ì—ì„œ ì–¸ê¸‰ëœ ê²ƒì²˜ëŸ¼ API í† í°ì„ ìƒì„±í•˜ê³  ì•„ë˜ì˜ ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN=<ë°œê¸‰ë°›ì€ ê°œì¸ í† í°>

In [2]:
%%thanosql
COPY bike_sharing_train 
OPTIONS(overwrite= True)
FROM "tutorial_data/bike_sharing_data/bike_sharing_train.csv"

Success

In [3]:
%%thanosql
COPY bike_sharing_test 
OPTIONS(overwrite = True)
FROM "tutorial_data/bike_sharing_data/bike_sharing_test.csv"

Success
CPU times: user 38.7 ms, sys: 15.5 ms, total: 54.2 ms
Wall time: 543 ms

__OPTIONS__ : 

__overwriteê°€ Trueì¼ ë•Œ__, ì‚¬ìš©ìëŠ” ì´ì „ ìƒì„±í–ˆë˜ ë°ì´í„° í…Œì´ë¸”ê³¼ ê°™ì€ ì´ë¦„ì˜ ë°ì´í„° í…Œì´ë¸”ì„ ìƒì„±í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
ë°˜ë©´, __overwriteê°€ Falseì¼ ë•Œ__, ì‚¬ìš©ìëŠ” ì´ì „ì— ìƒì„±í–ˆë˜ ë°ì´í„° í…Œì´ë¸”ê³¼ ê°™ì€ ì´ë¦„ì˜ ë°ì´í„° í…Œì´ë¸”ì„ ìƒì„±í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.

## __1. ë°ì´í„° ì„¸íŠ¸ í™•ì¸__

ë³¸ íŠœí† ë¦¬ì–¼ì„ ì§„í–‰í•˜ê¸° ìœ„í•´ ìš°ë¦¬ëŠ” ThanoSQL DBì— ì €ì¥ë˜ì–´ ìˆëŠ” bike_sharing_train í…Œì´ë¸”ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ í…Œì´ë¸” ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤.

In [4]:
%%thanosql
SELECT * 
FROM bike_sharing_train 
LIMIT 5

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0,1

__ë°ì´í„° ì´í•´í•˜ê¸°__ 

 __bike_sharing_train__ ë°ì´í„° ì„¸íŠ¸ì—ëŠ” 2011ë…„ 1ì›”ë¶€í„° 2012ë…„ 12ì›”ê¹Œì§€ ë‚ ì§œì™€ ì‹œê°„, ê¸°ì˜¨, ìŠµë„, í’ì† ë“±ì˜ ì •ë³´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ 1ì‹œê°„ ê°„ê²© ë™ì•ˆì˜ ìì „ê±° ëŒ€ì—¬ íšŸìˆ˜ì— ëŒ€í•œ ì •ë³´ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.  
-  datetime : ì‹œê°„ë³„ ë‚ ì§œ  
-  season : ê³„ì ˆ(1 = ë´„, 2 = ì—¬ë¦„, 3 = ê°€ì„, 4 = ê²¨ìš¸)  
-  holiday : íœ´ì¼(0 = íœ´ì¼ì´ ì•„ë‹Œ ë‚ , 1 = ì£¼ë§ì„ ì œì™¸í•œ êµ­ê²½ì¼ ë“±ì˜ íœ´ì¼)  
-  workingday   : ì‘ì—…ì¼(0 = ì£¼ë§ ë° íœ´ì¼, 1 = ì£¼ë§ ë° íœ´ì¼ì´ ì•„ë‹Œ ì£¼ì¤‘)  
-  weather   : ë‚ ì”¨  
-  temp   : ì˜¨ë„  
-  atemp   : ì²´ê°ì˜¨ë„  
-  humidity   : ìƒëŒ€ìŠµë„  
-  windspeed   : í’ì†  
-  count   : ëŒ€ì—¬ íšŸìˆ˜

## __2. íšŒê·€ ëª¨ë¸ ìƒì„±__

ì´ì „ ë‹¨ê³„ì—ì„œ í™•ì¸í•œ bike_sharing_train ë°ì´í„° ì„¸íŠ¸ë¥¼ ì‚¬ìš©í•˜ì—¬ ìì „ê±° ìˆ˜ìš” ì˜ˆì¸¡ íšŒê·€ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ bike_regressionì´ë¼ëŠ” ì´ë¦„ì˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤.  

(ì¿¼ë¦¬ ì‹¤í–‰ ì‹œ ì˜ˆìƒ ì†Œìš” ì‹œê°„ : 8 min)

In [5]:
%%thanosql
BUILD MODEL tutorial_automl_regressor
USING AutomlRegressor
OPTIONS (
    target='count', 
    impute_type='simple', 
    datetime_attribs=['datetime'],
    time_left_for_this_task = 300,
    overwrite = True
    ) 
AS
SELECT *
FROM bike_sharing_train

Success

- "__BUILD MODEL__" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ bike_regressionë¼ëŠ” ëª¨ë¸ì„ ë§Œë“¤ê³  í•™ìŠµì‹œí‚µë‹ˆë‹¤. 
- "__OPTIONS__"ì˜ "target"ì—ëŠ” íšŒê·€ ì˜ˆì¸¡ ëª¨ë¸ì˜ ëª©í‘œê°’ì´ ë˜ëŠ” ì—´ì˜ ì´ë¦„ì„ ì ì–´ì¤ë‹ˆë‹¤. "impute_type"ì˜ ê²½ìš°ì—ëŠ” ë°ì´í„° ì„¸íŠ¸ì˜ ë¹ˆ ê°’ì— ëŒ€í•œ ì²˜ë¦¬ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤. "datetime_attribs"ì—ëŠ” ë‚ ì§œ í˜•ì‹ì˜ ë°ì´í„°ë¥¼ ì ì–´ì£¼ë©´ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ ìƒì„±ì„ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

__overwriteê°€ Trueì¼ ë•Œ__, ì‚¬ìš©ìëŠ” ì´ì „ ìƒì„±í–ˆë˜ ë°ì´í„° í…Œì´ë¸”ê³¼ ê°™ì€ ì´ë¦„ì˜ ë°ì´í„° í…Œì´ë¸”ì„ ìƒì„±í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
ë°˜ë©´, __overwriteê°€ Falseì¼ ë•Œ__, ì‚¬ìš©ìëŠ” ì´ì „ì— ìƒì„±í–ˆë˜ ë°ì´í„° í…Œì´ë¸”ê³¼ ê°™ì€ ì´ë¦„ì˜ ë°ì´í„° í…Œì´ë¸”ì„ ìƒì„±í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.

## __3. ìƒì„±ëœ ëª¨ë¸ í‰ê°€__

ì•„ë˜ì˜ ì¿¼ë¦¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  ì˜ˆì¸¡ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í‰ê°€í•©ë‹ˆë‹¤.

In [6]:
%%thanosql
EVALUATE USING tutorial_automl_regressor 
OPTIONS (
    target='count'
    ) 
AS
SELECT *
FROM bike_sharing_train

  metrics      value
0     MAE    70.1031
1     MSE  9679.4456
2      R2     0.3523
3   RMSLE     1.1241
4    MAPE     0.4526

__ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´__ 
- "__EVALUATE USING__" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ êµ¬ì¶•í•œ bike_regression ëª¨ë¸ì„ í‰ê°€í•©ë‹ˆë‹¤. 
- "__OPTIONS__"ì˜ "target"ì—ëŠ” íšŒê·€ ì˜ˆì¸¡ ëª¨ë¸ì˜ ëª©í‘œê°’ì´ ë˜ëŠ” ì—´(Column)ì˜ ì´ë¦„(count)ì„ ì ì–´ì¤ë‹ˆë‹¤.

## __4. ìƒì„±ëœ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ ìì „ê±° ëŒ€ì—¬ ìˆ˜ëŸ‰ ì˜ˆì¸¡__

ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  ìˆ˜ìš” ì˜ˆì¸¡ ëª¨ë¸ë¡œ í…ŒìŠ¤íŠ¸ìš© ë°ì´í„° ì„¸íŠ¸(í•™ìŠµì— ì´ìš©ë˜ì§€ ì•Šì€ ë°ì´í„° í…Œì´ë¸”, bike_shaing_test)ì— ìˆëŠ” 10ê°œì˜ ë°ì´í„°ì— ëŒ€í•œ ìì „ê±° ëŒ€ì—¬ ìˆ˜ëŸ‰ì„ ì˜ˆì¸¡í•´ ë´…ë‹ˆë‹¤.

In [7]:
%%thanosql
PREDICT USING tutorial_automl_regressor 
AS
SELECT *
FROM bike_sharing_test
LIMIT 10

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,predicted
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,133.351361
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,83.304852
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,83.304852
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,89.718215
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,89.718215
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013,104.283055
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013,100.676295
7,2011-01-20 07:00:00,1,0,1,1,9.02,10.605,55,15.0013,91.813349
8,2011-01-20 08:00:00,1,0,1,1,9.02,10.605,55,19.0012,99.065202
9,2011-01-20 09:00:00,1,0,1,2,9.84,11.365,52,15.0013,108.508070

__ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´__

- "__PREDICT USING__" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ <mark style="background-color:#E9D7FD ">bike_regression</mark> ëª¨ë¸ì„ ì˜ˆì¸¡ì— ì‚¬ìš©í•©ë‹ˆë‹¤. 
- "__PREDICT__"ì˜ ê²½ìš° ìƒì„±ëœ ëª¨ë¸ì˜ ì ˆì°¨ë¥¼ ë”°ë¥´ê¸° ë•Œë¬¸ì— íŠ¹ë³„í•œ ì²˜ë¦¬ê°€ í•„ìš”ì—†ìŠµë‹ˆë‹¤.