# __{Tutorial Title}__

- Tutorial difficulty: {â˜…â˜†â˜†â˜†â˜†}
- {0} min read
- Languages: [SQL](https://en.wikipedia.org/wiki/SQL) (100%)
- File location: tutorial_en/thanosql_ml/{directory name}/{file name}.ipynb
- References: [Dataset](download link for the dataset), [Reference](Paper, article, or post link)

## Tutorial Introduction

<div class="admonition note">
    <h4 class="admonition-title">Understanding OOO</h4>
    <p>Write a description of the model task. (e.g.) Classification is a type of <a href="https://en.wikipedia.org/wiki/Machine_learning">Machine Learning</a> that predicts which category(Category or Class) the target belongs to. For example, both binary classifications(used for classifying men or women) and multiple classifications(used to predict animal species such as dogs, cats, rabbits, etc.) are included in the classification tasks.</p>
</div>

If additional explanation is required, please write it as needed.

(e.g.) To predict whether or not a potential customer will react positively to a particular marketing promotion in your company, you can use your customer's [Customer Relationship Management (CRM)](https://en.wikipedia.org/wiki/Customer_relationship_management) data(demographic information, customer behavior/search data, etc.). In this case, the <a href="https://en.wikipedia.org/wiki/Feature_(machine_learning)">features</a> expressed in the CRM data are used as the input data, and the target value, which is the value to be predicted, is whether the target customer's response to the promotion is positive(1 or True) or negative(0 or False). By using this classification model, you can predict the reaction of customers who have not been exposed to advertisements and target the appropriate customers, thereby continuously increasing marketing efficiency.

__The following are examples and applications of the ThanoSQL OOO model.__

- Write two or three examples and applications of the given ThanoSQL model
- (e.g.) You can predict the [Market Segmentation](https://en.wikipedia.org/wiki/Market_segmentation) involved in your online platform. Most service users have different characteristics, behaviors, and needs. Classification models utilize the users' features to identify granular groups and enable them to develop strategies tailored to them.

<div class="admonition note">
    <h4 class="admonition-title">In This Tutorial</h4>
    <p>ðŸ‘‰ Write a description of the tutorial.</p>
</div>

<div class="admonition tip">
    <h4 class="admonition-title">(Optional)Dataset Description</h4>
    <p>Write additional dataset descriptions if needed. This can be skipped.</p>
</div>

If additional explanation is required, please write it as needed. (e.g.) Now let's use ThanoSQL to create a classification model that predicts passengers who would survive the Titanic incident.

## __0. Prepare Dataset__

As mentioned in the [ThanoSQL Workspace](https://docs.thanosql.ai/en/getting_started/how_to_use_ThanoSQL/#5-thanosql-workspace), you must create an API token and run the query below to execute the query of ThanoSQL.

(or) (If there is pre-built model)

## __0. Prepare Dataset and Model__

As mentioned in the [ThanoSQL Workspace](https://docs.thanosql.ai/en/getting_started/how_to_use_ThanoSQL/#5-thanosql-workspace), you must create an API token and run the query below to execute the query of ThanoSQL.

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN=<Issued_API_TOKEN>

### __Prepare Dataset__

In [2]:
%%thanosql
GET THANOSQL DATASET {dataset}
OPTIONS (overwrite=True)

Success

<div class="admonition note">
    <h4 class="admonition-title">Query Details</h4>
    <ul>
        <li>"<strong>GET THANOSQL DATASET</strong>" downloads the specified dataset to the workspace.</li>
        <li>"<strong>OPTIONS</strong>" specifies the option values to be used for the <strong>GET THANOSQL DATASET</strong> clause.
        <ul>
            <li>"overwrite": determines whether to overwrite a dataset if it already exists. If set as True, the old dataset is replaced with the new dataset (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

In [3]:
%%thanosql
COPY {table name}
OPTIONS (overwrite=True)
FROM 'location of csv file'

Success

In [4]:
(e.g.)
%%thanosql
COPY titanic_test
OPTIONS (overwrite=True)
FROM 'thanosql-dataset/titanic_data/titanic_test.csv'

Success

<div class="admonition note">
    <h4 class="admonition-title">Query Details</h4>
    <ul>
        <li>"<strong>COPY</strong>" specifies the name of the dataset to be saved as a database table.</li>
        <li>"<strong>OPTIONS</strong>" specifies the option values to be used for the <strong>COPY</strong> clause.
        <ul>
           <li>"overwrite": determines whether to overwrite a table if it already exists. If set as True, the old table is replaced with the new table (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

#### (If there is pre-built model)

### __Prepare the Model__

In [4]:
%%thanosql
GET THANOSQL MODEL {model name}
OPTIONS (
    model_name='tutorial_modelname',
    overwrite=True
    )

Success

<div class="admonition note">
    <h4 class="admonition-title">Query Details</h4>
    <ul>
        <li>"<strong>GET THANOSQL MODEL</strong>" downloads the specified model to the workspace.</li>
        <li>"<strong>OPTIONS</strong>" specifies the option values to be used for the <strong>GET THANOSQL MODEL</strong> clause.
        <ul>
            <li>"model_name": the model name to store a given model in the ThanoSQL workspace (str, optional)</li>
            <li>"overwrite": determines whether to overwrite a model if it already exists. If set as True, the old model is replaced with the new model (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

## __1. Check Dataset__

To create the(a) OOO model, we use the __{table name}__ table located in the ThanoSQL workspace database. Run the query below to check the contents of the table.

(or) (if BUILD doesn't support)

## __1. Check Dataset__

For this tutorial, we use the __{table name}__ table located in the ThanoSQL workspace database. Run the query below to check the contents of the table.

In [5]:
%%thanosql
SELECT *
FROM {table name}
LIMIT 5

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

<div class="admonition note">
    <h4 class="admonition-title">Understanding the Data Table</h4>
    <p><strong>{table name}</strong> table contains the following information.</p>
    <ul>
        <li>{column name}: column description</li>
        <li>(e.g.) survived: whether the passenger on board survived</li>
    </ul>
</div>

#### (If there is pre-built model)

## __2. Predict Using Pre-built Model__

To predict the results using the pre-built <strong>{pre-built model name}</strong> model, run the query below.

In [ ]:
%%thanosql
PREDICT USING {pre-built model name}
OPTIONS (
    (e.g.) image_col='image_path',
    (e.g.) result_col='predict_result'
    )
AS
SELECT *
FROM {table name}

## __2. Build a OOO Model__

To create a OOO model with the name <strong>{model name}</strong> using the <strong>{table name}</strong> table, run the following query.\
(Estimated duration of query execution: {0} min)

In [6]:
%%thanosql
BUILD MODEL {model name}
USING {base model name}
OPTIONS (
    options_needed=add,
    overwrite=True
    )
AS
SELECT *
FROM {table name}

Success

<div class="admonition note">
    <h4 class="admonition-title">Query Details</h4>
    <ul>
        <li>"<strong>BUILD MODEL</strong>" creates and trains a model named <strong>{model name}</strong>.</li>
        <li>"<strong>USING</strong>" specifies <strong>{base model name}</strong> as the base model.</li>
        <li>"<strong>OPTIONS</strong>" specifies the option values used to create the model.
        <ul>
            <li>(e.g.) "target_col": the name of the column containing the target value of the classification model (str, default: 'target')</li>
            <li>"overwrite": determines whether to overwrite a model if it already exists. If set as True, the old model is replaced with the new model (bool, optional, True|False, default: False)</li>
        </ul>
        </li>
    </ul>
</div>

## __3. Predict (OOO)__

To use the OOO model created in the previous step for prediction of <strong>{table name}</strong>, run the following query.

In [8]:
%%thanosql
PREDICT USING {model name}
OPTIONS (
    (e.g.) image_col='image_path',
    (e.g.) result_col='predict_result',
    (e.g.) table_name='{table name}'
    )
AS
SELECT *
FROM {table name}

,passengerid,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,predict_result
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,None,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,None,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,None,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,None,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,None,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,None,S,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,None,S,0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,None,C,0

<div class="admonition note">
    <h4 class="admonition-title">Query Details</h4>
    <ul>
        <li>"<strong>PREDICT USING</strong>" predicts the outcome using the <strong>{model name}</strong>.</li>
        <li>"<strong>OPTIONS</strong>" specifies the option values to be used for prediction.
        <ul>
            <li>(e.g.) "image_col": the name of the column where the path of the image used for prediction is stored (str, default: 'image_path')</li>
            <li>(e.g.) "result_col": the column that contains the predicted results (str, optional, default: 'predict_result')</li>
            <li>(e.g.) "table_name": the table name to be stored in the ThanoSQL workspace database. If a previously used table is specified, the existing table will be replaced by the new table with a 'predict_result' column (str, optional)</li>
        </ul>
        </li>
    </ul>
</div>

## __4. In Conclusion__

Write summary & conclusion of the tutorial.

* [How to Upload My Data to the ThanoSQL Workspace](https://docs.thanosql.ai/en/getting_started/data_upload/)
* [How to Create a Table Using My Data](https://docs.thanosql.ai/en/how-to_guides/ThanoSQL_query/COPY_SYNTAX/)
* [How to Upload My Model to the ThanoSQL Workspace](https://docs.thanosql.ai/en/how-to_guides/ThanoSQL_query/UPLOAD_SYNTAX/)

<div class="admonition tip">
    <h4 class="admonition-title">Inquiries About Deploying a Model for Your Own Service</h4>
    <p>If you have any difficulties creating your own model using ThanoSQL or applying it to your service, please feel free to contact us belowðŸ˜Š</p>
    <p>For inquiries regarding building a OOO model: <a href="mailto:contact@smartmind.team">contact@smartmind.team</a></p>
</div>