# __영화 평점 데이터를 사용하여 영화 추천 모델 만들기__

## __0. 데이터 세트 준비__

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN={발급받은 개인 토큰}

In [16]:
%%thanosql
COPY movielens_data FROM "tutorial_data/movielens_data/movielens.csv"

Success

## __1. 데이터 세트 확인__

영화 평점 데이터를 이용한 영화 추천 모델을 만들기 위해 ThanoSQL DB에 저장되어 있는 movielens_data 테이블을 사용합니다. 아래의 쿼리문을 실행하고 테이블의 내용을 확인합니다.

In [17]:
%%thanosql 
SELECT * 
FROM movielens_data 
LIMIT 5

   userid  movieid  rating                                      title
0      31        1     3.0                           Toy Story (1995)
1      31      110     5.0                          Braveheart (1995)
2      31      260     5.0  Star Wars: Episode IV - A New Hope (1977)
3      31      364     3.0                      Lion King, The (1994)
4      31      527     0.5                    Schindler's List (1993)

## __2. 추천 모델 생성__

이전 단계에서 확인한 movielens_data 데이터를 사용하여 영화 추천 모델을 만듭니다. 다음 쿼리 구문을 실행하여 my_movie_rec 이름의 모델을 만듭니다.

In [20]:
%%thanosql
BUILD MODEL my_movie_rec
USING Light_FM
OPTIONS (
    user_col='userid',   
    item_col='movieid',
    rating_col='rating',
    description='title'
    )
AS 
SELECT * 
FROM movielens_data

Success

## __3. 생성된 모델을 사용하여 추천 목록 생성__

이전 단계에서 생성한 영화 추천 모델을 사용해서 특정 사용자가 좋아할만한 아이템(영화) 목록을 10개 생성합니다.

In [22]:
%%thanosql
PREDICT USING my_movie_rec
OPTIONS (
    predict_type='user',
    user_id=31, 
    nrec=10
    )
AS 
SELECT * 
FROM movielens_data

                                            rank
0                        Incredibles, The (2004)
1                                  Avatar (2009)
2                           Avengers, The (2012)
3                             Toy Story 3 (2010)
4                                Iron Man (2008)
5  Harry Potter and the Half-Blood Prince (2009)
6                How to Train Your Dragon (2010)
7                     Night at the Museum (2006)
8                                      Up (2009)
9                            Finding Nemo (2003)