# __ì˜í™” í‰ì  ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ì˜í™” ì¶”ì²œ ëª¨ë¸ ë§Œë“¤ê¸°__

**ì¶”ì²œ ëª¨ë¸ ì´í•´í•˜ê¸°** 
--- 
ğŸ‘‰ ì¼ë°˜ì ìœ¼ë¡œ ì¶”ì²œ ëª¨ë¸ì—ì„œ í•´ë‹¹ í”Œë«í¼ì˜ íŠ¹ì • ì‚¬ìš©ìëŠ” í”Œë«í¼ ë‚´ì˜ ì „ì²´ ì•„ì´í…œ(ì œí’ˆ ë˜ëŠ” ì½˜í…ì¸ )ì´ ì•„ë‹Œ ì†Œìˆ˜ì˜ ì•„ì´í…œë§Œì„ ì†Œë¹„(ì‹œì²­ì—¬ë¶€, êµ¬ë§¤ì´ë ¥, í›„ê¸°, í‰ì  ë“±)í•˜ê²Œ ë©ë‹ˆë‹¤. ì•„ì§ ì†Œë¹„í•˜ì§€ ì•Šì€ ì•„ì´í…œì— ëŒ€í•´ì„œ íŠ¹ì • ì†Œë¹„ìê°€ ì–´ë–¤ í‰ì ì„ ì¤„ì§€ ì˜ˆì¸¡í•˜ê³  ë†’ì€ í‰ì ì„ ì¤„ ê²ƒìœ¼ë¡œ ì˜ˆì¸¡ë˜ëŠ” ì•„ì´í…œ(í•˜ì§€ë§Œ ì†Œë¹„ë˜ì§€ ì•Šì€ ì•„ì´í…œ)ì„ ì˜ˆì¸¡ í‰ì ì´ ë†’ì€ ìˆœìœ„ë¶€í„° ë³´ì—¬ì¤ë‹ˆë‹¤.


**ë³¸ íŠœí† ë¦¬ì–¼ì—ì„œëŠ”**
--- 
ğŸ‘‰ ì‚¬ìš©ìê°€ ì½˜í…ì¸ ì— ë¶€ì—¬í•œ í‰ì  ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ê°„ë‹¨í•˜ê²Œ ì‚¬ìš©ìê°€ ì¢‹ì•„í• ë§Œí•œ ì˜í™” ëª©ë¡ì„ ì¶”ì²œí•´ì£¼ëŠ” ì¶”ì²œì‹œìŠ¤í…œì„ êµ¬ì¶•í•©ë‹ˆë‹¤. ì´ë¥¼ ìœ„í•´, Movielens ì˜í™” í‰ì  ë°ì´í„° ì„¸íŠ¸ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. Movielens ë°ì´í„° ì„¸íŠ¸ëŠ” ì‚¬ìš©ìê°€ íŠ¹ì • ì˜í™”ì— ëŒ€í•´ì„œ í‰ì ì„ ì¤€ ê²ƒì„ ëª¨ì•„ë†“ì€ ë°ì´í„° ì„¸íŠ¸ì…ë‹ˆë‹¤.

## __0. ë°ì´í„° ì„¸íŠ¸ ì¤€ë¹„__

ThanoSQLì˜ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” [ThanoSQL ì›Œí¬ìŠ¤í˜ì´ìŠ¤](https://docs.thanosql.ai/quick_start/how_to_use_ThanoSQL/#5-thanosql)
ì—ì„œ ì–¸ê¸‰ëœ ê²ƒì²˜ëŸ¼ API í† í°ì„ ìƒì„±í•˜ê³  ì•„ë˜ì˜ ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
%load_ext thanosql
%thanosql API_TOKEN={ë°œê¸‰ë°›ì€ ê°œì¸ í† í°}

In [16]:
%%thanosql
COPY movielens_data FROM "tutorial_data/movielens_data/movielens.csv"

Success

## __1. ë°ì´í„° ì„¸íŠ¸ í™•ì¸__

ì˜í™” í‰ì  ë°ì´í„°ë¥¼ ì´ìš©í•œ ì˜í™” ì¶”ì²œ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ ThanoSQL DBì— ì €ì¥ë˜ì–´ ìˆëŠ” movielens_data í…Œì´ë¸”ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì¿¼ë¦¬ë¬¸ì„ ì‹¤í–‰í•˜ê³  í…Œì´ë¸”ì˜ ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤.

In [17]:
%%thanosql 
SELECT * 
FROM movielens_data 
LIMIT 5

   userid  movieid  rating                                      title
0      31        1     3.0                           Toy Story (1995)
1      31      110     5.0                          Braveheart (1995)
2      31      260     5.0  Star Wars: Episode IV - A New Hope (1977)
3      31      364     3.0                      Lion King, The (1994)
4      31      527     0.5                    Schindler's List (1993)

__ë°ì´í„° ì´í•´í•˜ê¸°__ 

movielens_data ë°ì´í„° ì„¸íŠ¸ëŠ” ë‹¤ìŒê³¼ ê°™ì€ ì •ë³´ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.  
- userid : ì‚¬ìš©ì ID   
- movieid : ì˜í™” ID  
- rating : í‰ì    
- title : ì˜í™” ì œëª©  

userid ê°’ì´ 31ì¸ ì‚¬ìš©ìëŠ” "Toy Story (1995)"ì— í‰ì  3.0ì ì„ ì£¼ê³  "Braveheart (1995)"ì— í‰ì  5.0ì ì„ ì¤€ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

## __2. ì¶”ì²œ ëª¨ë¸ ìƒì„±__

ì´ì „ ë‹¨ê³„ì—ì„œ í™•ì¸í•œ movielens_data ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ì˜í™” ì¶”ì²œ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤. ë‹¤ìŒ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ì—¬ my_movie_rec ì´ë¦„ì˜ ëª¨ë¸ì„ ë§Œë“­ë‹ˆë‹¤.

(ì¿¼ë¦¬ ì‹¤í–‰ ì‹œ ì˜ˆìƒ ì†Œìš” ì‹œê°„ : 1 min)

In [20]:
%%thanosql
BUILD MODEL my_movie_rec
USING Light_FM
OPTIONS (
    user_col='userid',   
    item_col='movieid',
    rating_col='rating',
    description_col='title'
    )
AS 
SELECT * 
FROM movielens_data

Success

__ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´__ 
- "__BUILD MODEL__" ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ <mark style="background-color:#E9D7FD ">my_movie_rec</mark> ì´ë¼ëŠ” ëª¨ë¸ì„ ë§Œë“¤ê³  í•™ìŠµì‹œí‚µë‹ˆë‹¤. <br>
- "__OPTIONS__"ì—ì„œëŠ” 3ê°œì˜ ì»¬ëŸ¼(Column)ì´ ì‚¬ìš©í•©ë‹ˆë‹¤. "user_col"ì—ëŠ” ì‚¬ìš©ìì˜ ID (<mark style="background-color:#D7D0FF ">userid</mark>), "item_col"ì—ëŠ” ì•„ì´í…œì˜ IDê°€ ë“¤ì–´ê°‘ë‹ˆë‹¤. ë³¸ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” <mark style="background-color:#D7D0FF ">movieid</mark>ê°€ ì‚¬ìš©ë©ë‹ˆë‹¤. "rating_col"ì—ì„œëŠ” ì˜ˆì¸¡í•˜ê³ ì í•˜ëŠ” ëª©í‘œê°’ì´ ë˜ëŠ” ì—´ì˜ ì´ë¦„(<mark style="background-color:#D7D0FF ">rating</mark>)ì„ ì ì–´ì¤ë‹ˆë‹¤.

## __3. ìƒì„±ëœ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ ì¶”ì²œ ëª©ë¡ ìƒì„±__

ì´ì „ ë‹¨ê³„ì—ì„œ ìƒì„±í•œ ì˜í™” ì¶”ì²œ ëª¨ë¸ì„ ì‚¬ìš©í•´ì„œ íŠ¹ì • ì‚¬ìš©ìê°€ ì¢‹ì•„í• ë§Œí•œ ì•„ì´í…œ(ì˜í™”) ëª©ë¡ì„ 10ê°œ ìƒì„±í•©ë‹ˆë‹¤.

In [22]:
%%thanosql
PREDICT USING my_movie_rec
OPTIONS (
    predict_type='user',
    user_id=31, 
    nrec=10
    )
AS 
SELECT * 
FROM movielens_data

                                            rank
0                        Incredibles, The (2004)
1                                  Avatar (2009)
2                           Avengers, The (2012)
3                             Toy Story 3 (2010)
4                                Iron Man (2008)
5  Harry Potter and the Half-Blood Prince (2009)
6                How to Train Your Dragon (2010)
7                     Night at the Museum (2006)
8                                      Up (2009)
9                            Finding Nemo (2003)

__ì¿¼ë¦¬ ì„¸ë¶€ ì •ë³´__ 
- __"PREDICT USING"__ ì¿¼ë¦¬ êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì´ì „ ë‹¨ê³„ì—ì„œ ë§Œë“  my_movie_rec ëª¨ë¸ì„ ì˜ˆì¸¡ì— ì‚¬ìš©í•©ë‹ˆë‹¤. 
- ì¶”ì²œ ëª¨ë¸ì—ì„œëŠ” ì˜ˆì¸¡ ë‹¨ê³„ì—ì„œë„ "__OPTIONS__"ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. "predict_type"ì€ ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ì •ë ¬í•  ëŒ€ìƒ ê¸°ì¤€ì„ ì„¤ì •í•©ë‹ˆë‹¤. ì´ë²ˆ íŠœí† ë¦¬ì–¼ì—ì„œëŠ” íŠ¹ì • ì‚¬ìš©ì(useridì˜ ê°’ì´ 31)ì—ê²Œ ì¶”ì²œí•  ì˜í™” ëª©ë¡ì„ ë³´ë ¤ê³  í•˜ê¸° ë•Œë¬¸ì— "itemid"ë¥¼ ì ì–´ì£¼ë©° "itemid"ëŠ” ë³´ê³ ì í•˜ëŠ” íŠ¹ì • ì‚¬ìš©ìì˜ useridê°’ì¸ 31ì„ ì…ë ¥í•©ë‹ˆë‹¤. "nrec"ëŠ” ì¶”ì²œí•˜ëŠ” ì•„ì´í…œì˜ ê°œìˆ˜ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤.